

<div class="full-screen-container">
    <div id="login-customise" class="login">
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
            <form class="login-form" [formGroup]="formGroup"
                (ngSubmit)="loginProcess()">
                <img src="../assets/assets/pages/img/logo.png" alt="" />
                <h3>PAU Geo-SIMS</h3>
                <h3 class="form-title font-green">Reset Password</h3>
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> Enter any username and password. </span>
                </div>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <input name="Password"
                    formControlName="Password"                    
                    class="form-control pwd-control"
                    id="password-field" placeholder="Enter New Password"> </div>        

                <div class="form-actions">
                    <button type="submit" class="btn green uppercase">Reset Password</button>
                </div>

            </form>

        </div>

    </div>
</div>
