<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        <div class="theme-panel hidden-xs hidden-sm">
            <div class="toggler"> </div>
            <div class="toggler-close"> </div>
            <div class="theme-options">
                <div class="theme-option theme-colors clearfix">
                    <span> THEME COLOR </span>
                    <ul>
                        <li class="color-default current tooltips"
                            data-style="default"
                            data-container="body"
                            data-original-title="Default"> </li>
                        <li class="color-darkblue tooltips"
                            data-style="darkblue"
                            data-container="body"
                            data-original-title="Dark Blue"> </li>
                        <li class="color-blue tooltips"
                            data-style="blue" data-container="body"
                            data-original-title="Blue"> </li>
                        <li class="color-grey tooltips"
                            data-style="grey" data-container="body"
                            data-original-title="Grey"> </li>
                        <li class="color-light tooltips"
                            data-style="light" data-container="body"
                            data-original-title="Light"> </li>
                        <li class="color-light2 tooltips"
                            data-style="light2"
                            data-container="body" data-html="true"
                            data-original-title="Light 2"> </li>
                    </ul>
                </div>
                <div class="theme-option">
                    <span> Theme Style </span>
                    <select class="layout-style-option form-control
                        input-sm">
                        <option value="square" selected="selected">Square
                            corners</option>
                        <option value="rounded">Rounded corners</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Layout </span>
                    <select class="layout-option form-control
                        input-sm">
                        <option value="fluid" selected="selected">Fluid</option>
                        <option value="boxed">Boxed</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Header </span>
                    <select class="page-header-option form-control
                        input-sm">
                        <option value="fixed" selected="selected">Fixed</option>
                        <option value="default">Default</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Top Menu Dropdown</span>
                    <select
                        class="page-header-top-dropdown-style-option
                        form-control input-sm">
                        <option value="light" selected="selected">Light</option>
                        <option value="dark">Dark</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Sidebar Mode</span>
                    <select class="sidebar-option form-control
                        input-sm">
                        <option value="fixed">Fixed</option>
                        <option value="default" selected="selected">Default</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Sidebar Menu </span>
                    <select class="sidebar-menu-option form-control
                        input-sm">
                        <option value="accordion"
                            selected="selected">Accordion</option>
                        <option value="hover">Hover</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Sidebar Style </span>
                    <select class="sidebar-style-option form-control
                        input-sm">
                        <option value="default" selected="selected">Default</option>
                        <option value="light">Light</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Sidebar Position </span>
                    <select class="sidebar-pos-option form-control
                        input-sm">
                        <option value="left" selected="selected">Left</option>
                        <option value="right">Right</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Footer </span>
                    <select class="page-footer-option form-control
                        input-sm">
                        <option value="fixed">Fixed</option>
                        <option value="default" selected="selected">Default</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- END THEME PANEL -->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a [routerLink]="['/dashboard']">Dashboard</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Add Wellbore</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <div id="dashboard-report-range" class="pull-right
                    tooltips btn btn-sm" data-container="body"
                    data-placement="bottom"
                    data-original-title="Change dashboard date
                    range">
                    <i class="icon-calendar"></i>&nbsp;
                    <span class="thin uppercase hidden-xs"></span>&nbsp;
                    <i class="fa fa-angle-down"></i>
                </div>
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->

        <!-- END PAGE TITLE-->

        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form [formGroup]="formGroup"
                (ngSubmit)="addWellboreProcess()">
        
                    <div class="form-body row">
                        <div class="col-md-6">

                            <div class="form-group">

                                <label>PAUID</label>
                                <input formControlName="PAUID"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Wellbore Official Name</label>
                                <input
                                    formControlName="WellboreOfficialName"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Wellbore Local Name</label>
                                <span class="error">*</span>
                                <input
                                    formControlName="WellboreLocalName"
                                    type="text" class="form-control"
                                    placeholder="">
                                    <div> <span class="errorName" *ngIf="f.WellboreLocalName.touched && f.WellboreLocalName.invalid">
                                        Local name is required</span></div>
                            </div>
                            <div class="form-group">
                                <label>Wellbore Alias Name</label>
                                <span class="error">*</span>
                                <input
                                    formControlName="WellboreAliasName"
                                    type="text" class="form-control"
                                    placeholder="">
                                      <div> <span class="errorName" *ngIf="f.WellboreAliasName.touched && f.WellboreAliasName.invalid">
                                    Alias name is required</span></div>
                            </div>
                            <div class="form-group">
                                <label>Wellbore Spud Date</label>
                                <input
                                    formControlName="WellboreSpudDate"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Spud Year</label>
                                <input formControlName="SpudYear"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Wellbore Type Id</label>
                                <input
                                    formControlName="WellboreType_id"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Initial Wellbore Purpose Id</label>
                                <input
                                    formControlName="InitialWellborePurpose_id"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>PurposeChangeDate</label>
                                <input
                                    formControlName="PurposeChangeDate"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Well Id</label>
                                <input
                                    formControlName="Well_id"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Prospect Id</label>
                                <select class="form-control" formControlName="Prospect_id">                                               
                                        <option *ngFor="let city of prospectIds"
                                        [ngValue]="city.Prospect_id"
                                        (change)="changeProspect($event)">{{city.Company_id}}-->{{city.PAUID}}
                                        </option>
                                     </select>

                            </div>
                            <div class="form-group">
                                    <label>Discovery Id</label>
                                    <input
                                        formControlName="Discovery_id"
                                        type="text" class="form-control"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>WellboreContent Id</label>
                                    <input
                                        formControlName="WellboreContent_id"
                                        type="text" class="form-control"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>Wellbore Status Id</label>
                                    <input
                                        formControlName="WellboreStatus_id"
                                        type="text" class="form-control"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>Wellbore Responsible Licence
                                        Id</label>
                                    <input
                                        formControlName="WellboreResponsibleLicence_id"
                                        type="text" class="form-control"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>License Operator Company Id</label>
                                        <select class="form-control" formControlName="LicenseOperatorCompany_id">                                               
                                                <option *ngFor="let city of licenceIds"
                                                [ngValue]="city.Company_id"
                                                (change)="changeLicense($event)">{{city.Company_id}}-->{{city.PAUID}}
                                                </option>
                                             </select>
                                </div>
                                <div class="form-group">
                                    <label>Drilling Contractor Company Id</label>
                                        <select class="form-control" formControlName="LicenseOperatorCompany_id">                                               
                                                <option *ngFor="let city of licenceIds"
                                                [ngValue]="city.Company_id"
                                                (change)="changeLicense($event)">{{city.Company_id}}-->{{city.CompanyLongName}}
                                                </option>
                                             </select>
                                </div>
                                <div class="form-group">
                                    <label>WellBore Rig Name</label>
                                    <input
                                        formControlName="WellBoreRigName"
                                        type="text"
                                        class="form-control"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>Basin Id</label>
                                    <input
                                        formControlName="Basin_id"
                                        type="text"
                                        class="form-control"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                        <label>Former Expl Area Name</label>
                                        <input
                                            formControlName="FormerExplAreaName"
                                            type="text"
                                            class="form-control"
                                            placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>SeismicLine</label>
                                        <input
                                            formControlName="SeismicLine"
                                            type="text"
                                            class="form-control"
                                            placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Rotary Table Elavation</label>
                                        <input
                                            formControlName="RotaryTableElavation"
                                            type="text"
                                            class="form-control"
                                            placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Ground Level Elavation Id</label>
                                        <input
                                            formControlName="GroundLevelElavation"
                                            type="text"
                                            class="form-control"
                                            placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>TD_MD</label>
                                        <input
                                            formControlName="TD_MD"
                                            type="text"
                                            class="form-control"
                                            placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>TD_TVD</label>
                                        <input
                                            formControlName="TD_TVD"
                                            type="text"
                                            class="form-control"
                                            placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>TD_Date</label>
                                        <input
                                            formControlName="TD_Date"
                                            type="text"
                                            class="form-control"
                                            placeholder="">
                                    </div>

                                    <div class="form-group">
                                            <label>Core Contractor Id</label>
                                                <select class="form-control" formControlName="CoreContractor_id">                                               
                                                        <option *ngFor="let city of licenceIds"
                                                        [ngValue]="city.Company_id"
                                                        (change)="changeLicense($event)">{{city.Company_id}}-->{{city.CompanyLongName}}
                                                        </option>
                                                 </select>
                                        </div>
                                        <div class="form-group">
                                            <label>RCI Taken Id</label>
                                            <input
                                                formControlName="RCI_Taken_id"
                                                type="text"
                                                class="form-control"
                                                placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label>MDT Done Id</label>
                                            <input
                                                formControlName="MDT_Done_id"
                                                type="text"
                                                class="form-control"
                                                placeholder="">
                                        </div>
                                        <div class="form-group">
                                                <label>FET Done Id</label>
                                                <input
                                                    formControlName="FET_Done_id"
                                                    type="text"
                                                    class="form-control"
                                                    placeholder="">
                                            </div>
        
                                            <div class="form-group">
                                                <label>Rotary Table Elavation</label>
                                                <input
                                                    formControlName="RotaryTableElavation"
                                                    type="text"
                                                    class="form-control"
                                                    placeholder="">
                                            </div>


                        </div>
                        <div class="col-md-6">

                          
                            


                            
                          
                            <div class="form-group">
                                <label>Ground Level Elavation Id</label>
                                <input
                                    formControlName="GroundLevelElavation"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>TD_MD</label>
                                <input
                                    formControlName="TD_MD"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>TD_TVD</label>
                                <input
                                    formControlName="TD_TVD"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>TD_Date</label>
                                <input
                                    formControlName="TD_Date"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>



                            <div class="form-group">
                                <label>Core Contractor Id</label>
                                <input
                                    formControlName="CoreContractor_id"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>RCI Taken Id</label>
                                <input
                                    formControlName="RCI_Taken_id"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>MDT Done Id</label>
                                <input
                                    formControlName="MDT_Done_id"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>FET Done Id</label>
                                <input
                                    formControlName="FET_Done_id"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>


                            <div class="form-group">
                                <label>WFT Contractor</label>
                                <input
                                    formControlName="WFTContractor"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>DST Done Id</label>
                                <input
                                    formControlName="DST_Done_id"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Manifold Flow Tested Id</label>
                                <input
                                    formControlName="ManifoldFlowTested_id"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>DST Contractor Id</label>
                                    <select class="form-control" formControlName="DST_Contractor_id">                                               
                                            <option *ngFor="let city of licenceIds"
                                            [ngValue]="city.Company_id"
                                            (change)="changeLicense($event)">{{city.Company_id}}-->{{city.CompanyLongName}}
                                            </option>
                                     </select>
                            </div>
                            <div class="form-group">
                                <label>Has PetrophysicalLogs Id</label>
                                <input
                                    formControlName="HasPetrophysicalLogs_id"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>



                            <div class="form-group">
                                <label>Core Petrophysical Contractor Id</label>
                                    <select class="form-control" formControlName="PetrophysicalContractor_id">                                               
                                            <option *ngFor="let city of licenceIds"
                                            [ngValue]="city.Company_id"
                                            (change)="changeLicense($event)">{{city.Company_id}}-->{{city.CompanyLongName}}
                                            </option>
                                     </select>
                            </div>
                            <div class="form-group">
                                <label>Top Basement MD</label>
                                <input
                                    formControlName="TopBasementMD"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Top Basement TVD</label>
                                <input
                                    formControlName="TopBasementTVD"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Wellbore Test Status</label>
                                <input
                                    formControlName="WellboreTestStatus"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>



                            <div class="form-group">
                                <label>Planned Wellbore Cost </label>
                                <input
                                    formControlName="PlannedWellboreCost"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>ActualWellboreCost</label>
                                <input
                                    formControlName="ActualWellboreCost"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Wellbore Test Cost</label>
                                <input
                                    formControlName="WellboreTestCost"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Completion Date</label>
                                <input
                                    formControlName="CompletionDate"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>

                            <div class="form-group">
                                <label> Three Word Wellbore Location</label>
                                <input
                                    formControlName="What3WordWellboreLocation"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>

                            <div class="form-group">
                                <label> Comments</label>
                                <input
                                    formControlName="Comments"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>

                            <div class="form-group">
                                <label> LocationPictureName</label>
                                <input
                                    formControlName="LocationPictureName"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>


                            <div class="form-group">
                                <label>Location Picture</label>
                                <input
                                    formControlName="LocationPicture"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Location Picture SoftcopyPath</label>
                                <input
                                    formControlName="LocationPictureSoftcopyPath"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Location Picture Hyperlink</label>
                                <input
                                    formControlName="LocationPictureHyperlink"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Wellbore MapSoftcopyPath</label>
                                <input
                                    formControlName="WellboreMapSoftcopyPath"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Wellbore MapHyperlink</label>
                                <input
                                    formControlName="WellboreMapHyperlink"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>

                            <div class="form-group">
                                <label>Map Portal Wellbore MapLink</label>
                                <input
                                    formControlName="MapPortalWellboreMapLink"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>

                            <div class="form-group">
                                <label>Wellbore Factsite Url</label>
                                <input
                                    formControlName="WellboreFactsiteUrl"
                                    type="text"
                                    class="form-control"
                                    placeholder="">
                            </div>




                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn blue">Submit</button>
                        <button type="button" class="btn
                            default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>