<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">

        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <!-- <ul class="page-breadcrumb">
                <li>
                    <a [routerLink]="['/dashboard']">Dashboard</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Users</span>
                </li>
            </ul> -->
            <!-- <div class="page-toolbar">
                <div id="dashboard-report-range" class="pull-right
                    tooltips btn btn-sm" data-container="body"
                    data-placement="bottom"
                    data-original-title="Change dashboard date
                    range">
                    <i class="icon-calendar"></i>&nbsp;
                    <span class="thin uppercase hidden-xs"></span>&nbsp;
                    <i class="fa fa-angle-down"></i>
                </div>
            </div> -->
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->

        <!-- END PAGE TITLE-->

        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->
        <div class="portlet light bordered">

            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div *ngIf="editForm" class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-dark">
                                    <i class="icon-user
                                        font-dark"></i>
                                    <span class="caption-subject
                                        bold uppercase">Users</span>
                                </div>
                                <div class="tools"> </div>
                            </div>
                            <div class="portlet-body">

                                <table datatable
                                    [dtOptions]="dtOptions"
                                    [dtTrigger]="dtTrigger"
                                    class="table table-striped
                                    table-bordered table-hover"
                                    id="sample_1">
                                    <thead>
                                        <tr>
                                            <th>User ID</th>
                                            <th>FirstName</th>
                                            <th>Surname</th>
                                            <th>LUID</th>
                                            <th>Organisation</th>
                                            <th>Email</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let post of users">
                                            <td>{{post.CraneUser_id}}</td>
                                            <td>{{post.FirstName}}</td>
                                            <td>{{post.Surname}}</td>
                                            <td>{{post.LUID}}</td>
                                            <td>{{post.OrganisationName}}</td>
                                            <td>{{post.UserEmailAddress}}</td>
                                            <td><i (click)="onSelect(post)"
                                                    class="fa fa-trash-o"></i>
                                                <span></span> <i
                                                    (mousedown)="onEdit(post)"
                                                    class="fa
                                                    fa-angle-double-right"></i></td>
                                            <!-- <td><button type="button" class="btn blue btn-outline">
                                                  <i class="fa fa-angle-double-right"></i></button>
                                                <button type="button" class="btn red btn-outline">
                                                  <i class="fa fa-trash-o"></i></button></td> -->
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div *ngIf="formDetails" class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-dark">
                                    <i class="icon-settings
                                        font-dark"></i>
                                    <span class="caption-subject
                                        bold uppercase">User Details</span>
                                </div>
                                <div class="tools"> </div>
                            </div>
                            <!-- <div class="portlet-body">

                                <div  *ngFor="let user of users" class="row">
                                    <div class="col-lg-4">
                                        <div class="portlet light portlet-fit
                                            bordered">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">User Id</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                       {{user.CraneUser_id}} </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">First Name</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                        {{user.FirstName}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">Middle Name</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                       {{user.MiddleName}} </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">Surname</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                        {{user.Surname}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">LUID</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                       {{user.LUID}} </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">Crane User Name</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                        {{user.CraneUserName}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">Login ID</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                       {{user.LoginID}} </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">Login ID Alias</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                        {{user.LoginIDAlias}}
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">User Intranet SecurityLevel Id</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                            {{user.UserIntranetSecurityLevel_id}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">User Nsd Web SecurityLevel Id</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                           {{user.UserNsdWebSecurityLevel_id}} </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">Login Error Count</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                            {{user.LoginErrorCount}}
                                                        </div>
                                                    </div>
                                                </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="portlet light portlet-fit
                                            bordered">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">UserCategory</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                        {{user.UserCategory}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">User Company id</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                        {{user.UserCompany_id}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">To Do List</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                        Default list element
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">To Do List</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                        Default list element
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">User Id</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                       {{user.Id}} </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">User Prems User Id</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                        {{user.UserPremsUser_id}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">User Staff Id</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                       {{user.UserStaff_id}} </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">Organisation Name</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                        {{user.OrganisationName}} 
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="portlet light portlet-fit
                                            bordered">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">Login Status Id</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                        {{user.LoginStatus_id}} 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">User Email Address</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                        {{user.UserEmailAddress}}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">User Security Level Id</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                       {{user.UserSecurityLevel_id}} </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">User Web SecurityLevel Id</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                        {{user.UserWebSecurityLevel_id}} 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">User Nogtr WebSecurity Level Id</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                       {{user.UserNogtrWebSecurityLevel_id}} </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">User Prems WebSecurity Level Id</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                       {{user.UserPremsWebSecurityLevel_id}}
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">Last Seen</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                        {{user.LastSeen}} 
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">Activation Change Date</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                        {{user.ActivationChangeDate}} 
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-layers
                                                        font-green"></i>
                                                    <span class="caption-subject
                                                        font-green bold
                                                        uppercase">OrganisationUserName</span>
                                                    <div class="caption-desc
                                                        font-grey-cascade">
                                                        {{user.	OrganisationUserName}} 
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div> -->
                       
                            <form [formGroup]="formGroup"
                            (ngSubmit)="addUserProcess()" ngNativeValidate>
                                <div class="form-body row">
                                    <div class="col-md-3">
            
                                        <div class="form-group">
                                           
                                            <label>First Name</label>                                          
                                            <span class="error">*</span>
                                            <input required formControlName="FirstName"
                                                type="text" class="form-control"
                                                placeholder="">
                                                
                                        </div>
                                        <div class="form-group">
                                            <label>MiddleName</label>
                                            <input formControlName="MiddleName"
                                                type="text" class="form-control"
                                                placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label>Surname</label>
                                            <span class="error">*</span>
                                            <input required formControlName="Surname"
                                                type="text" class="form-control"
                                                placeholder="">
                                              
                                        </div>
                                        <div class="form-group">
                                            <label>LUID</label>
                                            <input formControlName="LUID"
                                                type="number" class="form-control"
                                                placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label>Crane User Name</label>
                                            <span class="error">*</span>
                                            <input
                                            required formControlName="CraneUserName"
                                                type="text" class="form-control"
                                                placeholder="">
                                               
                                        </div>
                                        <div class="form-group">
                                                <label>Login ID</label>
                                                <input formControlName="LoginID"
                                                    type="text" class="form-control"
                                                    placeholder="">
                                            </div>
                                    </div> 
                                    <div class="col-md-3">
                                   
                                        <div class="form-group">
                                            <label>Login ID Alias</label>
                                            <input
                                                formControlName="LoginIDAlias"
                                                type="text" class="form-control"
                                                placeholder="">
                                        </div>
            
                                        <div class="form-group">
                                                <label>User Category</label>
                                                <span class="error">*</span>
                                                <select class="form-control"  required formControlName="UserCategory">
                                                        <option *ngFor="let role of Roles" [ngValue]="role"
                                                            (change)="changeRoles($event)">{{role}}
                                                        </option>
                                                        </select>    
                                                                                                   
                                            </div>
            
                                    <div class="form-group">
                                        <label>User Company_id</label>
                                        <input
                                            formControlName="UserCompany_id"
                                            type="number" class="form-control"
                                            placeholder="">
                                    </div>
            
                                    <div class="form-group">
                                            <label>User Prems User_id</label>
                                            <input
                                                formControlName="UserPremsUser_id"
                                                type="number" class="form-control"
                                                placeholder="">
                                        </div>
            
                                        <div class="form-group">
                                                <label>User Staff Id</label>
                                                <span class="error">*</span>
                                                <input
                                                required formControlName="UserStaff_id"
                                                    type="number" class="form-control"
                                                    placeholder="">
                                                    
                                            </div>
            
                                            <div class="form-group">
                                                    <label>Organisation Name</label>
                                                    <span class="error">*</span>
                                                    <input
                                                    required formControlName="OrganisationName"
                                                        type="text" class="form-control"
                                                        placeholder="">
                                                        
                                                </div>
                                       
                                    </div>   
                                    <div class="col-md-3">
            
                                        <div class="form-group">
            
                                            <label>User Email Address</label>
                                            
                                            <span class="error">*</span>
                                            <input
                                            required formControlName="UserEmailAddress"
                                                type="text" class="form-control"
                                                placeholder="">
                                             
                                        </div>
                                        <div class="form-group">
                                            <label>User Security Level Id</label>
                                            <input
                                                formControlName="UserSecurityLevel_id"
                                                type="number" class="form-control"
                                                placeholder="">                                                
                                               
                                        </div>
                                        <div class="form-group">
                                            <label>User Web Security Level_id</label>
                                            <span class="error">*</span>
                                            <select class="custom-select"
                                            required formControlName="UserWebSecurityLevel_id"
                                                name="UserWebSecurityLevel_id"
                                                class="form-control">
                                                <option *ngFor="let city of securityIds"
                                                [ngValue]="city.WebSecurityLevel_id"
                                                (change)="changeSecurity($event)">{{city.WebSecurityLevel_id}}-->{{city.WebSecurityLevelName}}
                                                </option>
                                            </select>
                                            
            
                                        </div>
            
                                         <div class="form-group">
                                                <label> Nogtr Web Security Level
                                                    Id:</label>
                                                <input
                                                    formControlName="UserNogtrWebSecurityLevel_id"
                                                    type="number" class="form-control"
                                                    placeholder="">
                                            </div>
            
                                        <div class="form-group">
                                            <label> Prems Web Security Level
                                                Id</label>
                                            <input
                                                formControlName="UserPremsWebSecurityLevel_id"
                                                type="number" class="form-control"
                                                placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label>Intranet Security Level
                                                Id</label>
                                            <input
                                                formControlName="UserIntranetSecurityLevel_id"
                                                type="number" class="form-control"
                                                placeholder="">
                                        </div>
                                     
                                    </div>  
            
                                    <div class="col-md-3">
                                       
                                        <div class="form-group">
                                            <label>User Nsd Web Security Level
                                                Id</label>
                                            <input
                                                formControlName="UserNsdWebSecurityLevel_id"
                                                type="number" class="form-control"
                                                placeholder="">
                                        </div>
                                      
                                        <div class="form-group">
                                            <label>Organisation User Name</label>
                                            <input
                                                formControlName="OrganisationUserName"
                                                type="text" class="form-control"
                                                placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label>New Password</label>
                                            <span class="error">*</span>
                                            <input
                                            required formControlName="DefaultPassword"
                                                type="password" class="form-control"
                                                placeholder="">
                                               
                                        </div>
            
                                        <div class="form-group">
                                                <label>Comments</label>
                                                <textarea name="name" rows="4" cols="40" formControlName="Comments" class="form-control" placeholder=""></textarea>
            
                                            </div>
            
                                    </div>
                                </div>
            
                                <div class="form-actions">
                                    <button type="submit" class="btn blue">update</button>
                                    <button type="button" (click)="back()" class="btn default">Back</button>
                                </div>
                            </form>
                        </div>


                        <!-- END EXAMPLE TABLE PORTLET-->
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>

                <!-- END FORM-->
            </div>
        </div>

        <!-- </div> -->
        <!-- END CONTENT BODY -->
    </div>
