.theme-panel>.toggler{
    top:-9;
    right:50!important;
}

.fa-eye-slash:before {
    margin-left: 22px;
    content: "\f070";
    color: #36C6D3;
    font-size: large;
}

.fa-trash-o:before {
    content: "\f014";
    color: red;
    font-size: large;
}

.fa-angle-double-right:before {
    margin-left: 22px;
    color:#3598dc;
    content: "\f101";
    font-size: large;
}

.portlet.light.portlet-fit>.portlet-title {
    padding: 2px 2px 2px;
}


button.btn.green {
    margin-left: 1%;
}
