

<div class="page-container">

    <!-- BEGIN CONTENT -->
    <div class="container">
      <!-- BEGIN HEADER -->
      <div class="container">
        <h3> ADD COMPANY DETAILS </h3>
      </div>
      <!-- END HEADER -->
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">

            <!-- END PAGE HEADER-->
            <div class="row">
                <div class="col-md-6 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-red-sunglo">
                                <i class="icon-settings font-red-sunglo"></i>
                                <!-- <span class="caption-subject bold uppercase"> Default Form</span> -->
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown"> Actions
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-pencil"></i> Edit </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-trash-o"></i> Delete </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-ban"></i> Ban </a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a href="javascript:;"> Make admin </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form">
                          <form role="form">
                            <!-- <form role="form" (ngSubmit)="getDetails()"> -->
                                <div class="form-body row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label>PAUID</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Long Name</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Short Name</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>NSD Number</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Category ID</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Of Origin ID</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Country Of Registration ID</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Registration Number</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>TIN Number</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Telephone</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Email</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                  </div>

                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Company Website</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Entity Type ID</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Entity Sub Type ID</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Major Activity ID</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Activity Division ID</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Activity Division Class ID</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>  Company Activity Division Class Category ID</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Business Nature Description</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Postal Address</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Physical Address</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>CompanyOtherEmails</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>NSD Qualification Date</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                  </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END SAMPLE FORM PORTLET-->

                </div>
                <div class="col-md-6 ">
                  <!-- BEGIN SAMPLE FORM PORTLET-->
                  <div class="portlet light bordered">

                      <div class="portlet-body form">
                          <form role="form">
                              <div class="form-body row">
                                <div class="col-md-6">

                                  <div class="form-group">
                                      <label>NSD Qualification Year</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Primary Contact Entity</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Contact Entity Email</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Contact Entity Telephone</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Contact Entity Mobile</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Contact Designation</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Operator Sort Order</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Contractor Sort Order</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>PAURegistrationDate</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Crane NOGTRID</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Temp NOGTRIPwd</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Registration Status ID</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Classify As Ugandan ID</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Primary Company Kind ID</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Secondary Company Kind ID</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Other Company Kind ID</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Company Group ID</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Company Mobile</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>CompanyFax</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>ContactEntityFax</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>NSD From Date</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>NSD To Date</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Imported From NSD</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Imported Date</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Exported Date</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Exported To Nogtr</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Record Change Stamp</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                  <div class="form-group">
                                      <label>Previous Legal Name</label>
                                      <input type="text" class="form-control" placeholder="">
                                  </div>
                                </div>
                              </div>

                              <div class="form-actions">
                                  <button type="submit" class="btn blue">Submit</button>
                                  <button type="button" class="btn default">Cancel</button>
                              </div>
                          </form>
                      </div>
                  </div>
                  <!-- END SAMPLE FORM PORTLET-->

                </div>
            </div>

        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

</div>

    <!-- CreatedBy
    DateCreated
    ModifiedOn
    ModifiedBy -->
