<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
    
   
        <!-- END THEME PANEL -->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a [routerLink]="['/dashboard']">Dashboard</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>add-wellbore-core</span>
                </li>
            </ul>
            
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->

        <!-- END PAGE TITLE-->

        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form class="form-horizontal" [formGroup]="formGroup"
                (ngSubmit)="addWellboreCoreProcess()">
        
                    <div class="form-body row">
                        <div class="col-md-6">
                            

                            <div class="form-group">

                                <label>Wellbore Id</label>
                                <input formControlName="Wellbore_id"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Core Number</label>
                                <input formControlName="CoreNumber"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Coring Date</label>
                                <input formControlName="CoringDate"
                                    type="date" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>WB CoringContractor Id</label>
                                <input formControlName="WBCoringContractor_id"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Core Top MDRT</label>
                                <input
                                    formControlName="CoreTopMDRT"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Core Btm MDRT</label>
                                <input formControlName="CoreBtmMDRT"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Core Top TVD</label>
                                <input
                                    formControlName="CoreTopTVD"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Core Btm TVD</label>
                                <input
                                    formControlName="CoreBtmTVD"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Cut Length</label>
                                <input
                                    formControlName="CutLength"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Cut Length TVD</label>
                                <input
                                    formControlName="CutLengthTVD"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                    <label>Recovered Length</label>
                                    <input
                                        formControlName="RecoveredLength"
                                        type="text" class="form-control"
                                        placeholder="">
                                </div>

                                <div class="form-group">
                                        <label>Core Recovery</label>
                                        <input
                                            formControlName="CoreRecovery"
                                            type="text" class="form-control"
                                            placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Core Top Strat Litho_id</label>
                                        <input
                                            formControlName="CoreTopStratLitho_id"  type="number" class="form-control"
                                            placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Core Bottom StratLitho Id</label>
                                        <input
                                            formControlName="CoreBottomStratLitho_id"
                                            type="number" class="form-control"
                                            placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Core Picture Softcopy Path</label>
                                        <input
                                            formControlName="CorePictureSoftcopyPath"
                                            type="text" class="form-control"
                                            placeholder="">
                                    </div>

                        </div>
                        <div class="col-md-6">
                          
                           
                            <div class="form-group">
                                <label>Core Picture Hyperlink</label>
                                <input
                                    formControlName="CorePictureHyperlink"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Picture Upload Date</label>
                                <input
                                    formControlName="PictureUploadDate"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Core Report Softcopy Path</label>
                                <input
                                    formControlName="CoreReportSoftcopyPath"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Core Report Hyperlink</label>
                                <input
                                    formControlName="CoreReportHyperlink"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Report Upload Date</label>
                                <input formControlName="ReportUploadDate"
                                    type="date" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Report Format Id</label>
                                <input
                                    formControlName="ReportFormat_id"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Report File Size</label>
                                <input
                                    formControlName="ReportFileSize"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>


                       
                        <div class="form-group">
                            <label>Report File Size</label>
                            <input
                                formControlName="ReportFileSize"
                                type="text" class="form-control"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Core Report Security Grade_id</label>
                            <input
                                formControlName="CoreReportSecurityGrade_id"
                                type="number" class="form-control"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Report Open Due Date</label>
                            <input
                                formControlName="ReportOpenDueDate"
                                type="date" class="form-control"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Report Document Title</label>
                            <input
                                formControlName="ReportDocumentTitle"
                                type="text" class="form-control"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Report Received Date</label>
                            <input
                                formControlName="ReportReceivedDate"
                                type="date" class="form-control"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Report Document Date</label>
                            <input formControlName="ReportDocumentDate"
                                type="date" class="form-control"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Report Document Name</label>
                            <input
                                formControlName="ReportDocumentName"
                                type="text" class="form-control"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Wellbore Core Name</label>
                            <input
                                formControlName="ReportFileSize"
                                type="text" class="form-control"
                                placeholder="">
                        </div>
                        <div class="form-group">
                                <label>Comments</label>
                                <input
                                    formControlName="Comments"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                        

                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn blue">Submit</button>
                        <button type="button" class="btn default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>