<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
    
   
        <!-- END THEME PANEL -->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a [routerLink]="['/dashboard']">Dashboard</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>add-wellbore-core</span>
                </li>
            </ul>
            
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->

        <!-- END PAGE TITLE-->

        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form class="form-horizontal" [formGroup]="formGroup"
                (ngSubmit)="addWellboreCoreProcess()">
        
                    <div class="form-body row">
                        <div class="col-md-6">
                            

                            <div class="form-group">

                                <label>Wellbore Id</label>
                                <span class="error">*</span>
                                    <select class="form-control"
                                        formControlName="Wellbore_id"
                                        name="Wellbore_id"
                                       >
                                        <option *ngFor="let city of wellboreIds"
                                            [ngValue]="city.Wellbore_id"
                                            (change)="changeWellboreId($event)">{{city.Wellbore_id}}-->{{city.WellboreLocalName}}
                                        </option>
                                    </select>
                                    <div> <span class="errorName" *ngIf="f.Wellbore_id.touched && f.Wellbore_id.invalid">
                                        Wellbore Id is required</span></div>   

                            </div>
                            <div class="form-group">
                                <label>Core Number</label>
                                <input formControlName="CoreNumber"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Coring Date</label>
                                <input formControlName="CoringDate"
                                    type="date" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>WB CoringContractor Id</label>
                                <!-- <input formControlName="WBCoringContractor_id"
                                    type="number" class="form-control"
                                    placeholder=""> -->
                                    <select
                                        formControlName="WBCoringContractor_id"
                                        name="WBCoringContractor_id"
                                        class="form-control">
                                        <option *ngFor="let city of
                                            WBCoringContractor_id"
                                            [ngValue]="city.Company_id"
                                            (change)="changeContractingId($event)">{{city.Company_id}}-->{{city.CompanyShortName}}
                                        </option>
                                    </select>



                            </div>
                            <div class="form-group">
                                <label>Core Top MDRT</label>
                                <input
                                    formControlName="CoreTopMDRT"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Core Btm MDRT</label>
                                <input formControlName="CoreBtmMDRT"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Core Top TVD</label>
                                <input
                                    formControlName="CoreTopTVD"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Core Btm TVD</label>
                                <input
                                    formControlName="CoreBtmTVD"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Cut Length</label>
                                <input
                                    formControlName="CutLength"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Cut Length TVD</label>
                                <input
                                    formControlName="CutLengthTVD"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                    <label>Recovered Length</label>
                                    <input
                                        formControlName="RecoveredLength"
                                        type="number" class="form-control"
                                        placeholder="">
                                </div>

                                <div class="form-group">
                                        <label>Core Recovery</label>
                                        <input
                                            formControlName="CoreRecovery"
                                            type="text" class="form-control"
                                            placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Core Top Strat Litho_id</label>                                      

                                        <select class="form-control"
                                        formControlName="CoreTopStratLitho_id"
                                        name="CoreTopStratLitho_id">
                                        <option *ngFor="let city of
                                            CoreTopStratLitho_id"
                                            [ngValue]="city.StratLitho_id"
                                            (change)="changeCoreTopStratLitho($event)">{{city.StratLitho_id}}-->{{city.StratLithoName}}
                                        </option>
                                    </select>

                                    </div>
                                    <div class="form-group">
                                        <label>Core Bottom StratLitho Id</label>
                                        <!-- <input
                                            formControlName="CoreBottomStratLitho_id"
                                            type="number" class="form-control"
                                            placeholder=""> -->
                                       <select formControlName="CoreBottomStratLitho_id"
                                        name="CoreBottomStratLitho_id"
                                        class="form-control">
                                        <option *ngFor="let city of
                                            CoreBottomStratLitho_id"
                                            [ngValue]="city.StratLitho_id"
                                            (change)="changeCoreBottomStratLitho($event)">{{city.StratLitho_id}}-->{{city.StratLithoName}}
                                        </option>
                                    </select>

                                    </div>
                                    <div class="form-group">
                                        <label>Core Picture Softcopy Path</label>
                                        <input
                                            formControlName="CorePictureSoftcopyPath"
                                            type="text" class="form-control"
                                            placeholder="">
                                    </div>

                        </div>
                        <div class="col-md-6">
                          
                           
                            <div class="form-group">
                                <label>Core Picture Hyperlink</label>
                                <input
                                    formControlName="CorePictureHyperlink"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Picture Upload Date</label>
                                <input
                                    formControlName="PictureUploadDate"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Core Report Softcopy Path</label>
                                <input
                                    formControlName="CoreReportSoftcopyPath"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Core Report Hyperlink</label>
                                <input
                                    formControlName="CoreReportHyperlink"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Report Upload Date</label>
                                <input formControlName="ReportUploadDate"
                                    type="date" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Report Format Id</label>
                                    <select formControlName="ReportFormat_id"
                                        name="ReportFormat_id"
                                        class="form-control">
                                        <option *ngFor="let city of
                                            ReportFormat_id"
                                            [ngValue]="city.FileFormat_id"
                                            (change)="changeReportFormat_id($event)">{{city.FileFormat_id}}-->{{city.FileFormatName}}
                                        </option>
                                    </select>
                            </div>
                            <div class="form-group">
                                <label>Report File Size</label>
                                <input
                                    formControlName="ReportFileSize"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>

                        <div class="form-group">
                            <label>Core Report Security Grade_id</label>
                            <!-- <input
                                formControlName="CoreReportSecurityGrade_id"
                                type="number" class="form-control"
                                placeholder=""> -->

                                <select formControlName="CoreReportSecurityGrade_id"
                                name="CoreReportSecurityGrade_id"
                                class="form-control">
                                <option *ngFor="let city of
                                CoreReportSecurityGrade_id"
                                    [ngValue]="city.FileSecurityGrade_id"
                                    (change)="changeCoreReportSecurityGrade_id($event)">{{city.FileSecurityGrade_id}}-->{{city.	FileSecurityGradeName}}
                                </option>
                            </select>
                                
                        </div>
                        <div class="form-group">
                            <label>Report Open Due Date</label>
                            <input
                                formControlName="ReportOpenDueDate"
                                type="date" class="form-control"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Report Document Title</label>
                            <input
                                formControlName="ReportDocumentTitle"
                                type="text" class="form-control"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Report Received Date</label>
                            <input
                                formControlName="ReportReceivedDate"
                                type="date" class="form-control"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Report Document Date</label>
                            <input formControlName="ReportDocumentDate"
                                type="date" class="form-control"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Report Document Name</label>
                            <input
                                formControlName="ReportDocumentName"
                                type="text" class="form-control"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Wellbore Core Name</label>
                            <input
                                formControlName="ReportFileSize"
                                type="text" class="form-control"
                                placeholder="">
                        </div>
                        <div class="form-group">
                                <label>Comments</label>
                                <input
                                    formControlName="Comments"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                        

                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn blue">Submit</button>
                        <button type="button" class="btn default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>