<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN THEME PANEL -->

    <!-- END THEME PANEL -->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a routerLink='/dashboard'>Dashboard</a>

          <i class="fa fa-circle"></i>
        </li>
        <li>
          <span>User Logs</span>
        </li>
      </ul>

    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->

    <!-- END PAGE TITLE-->

    <div class="clearfix"></div>
    <!-- END DASHBOARD STATS 1-->
    <div class="portlet light bordered">

      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="row">
          <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
              <div class="portlet-title">
                <div class="caption font-red-sunglo">
                  <i class="icon-user font-red-sunglo"></i>
                  <span class="caption-subject bold uppercase">User Logs</span>
                </div>
                <div class="tools"> </div>
              </div>
              <div class="portlet-body">


                <table datatable [dtOptions]="dtOptions" class="table-responsive">
                  <thead>
                    <tr>
                      <th>User ID</th>
                      <th>Company Id</th>
                      <th>User Name</th>
                      <th>Login Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let post of posts">
                      <td>{{post.HistLogUser_id}}</td>
                      <td>{{post.CraneCompany_id}}</td>
                      <td>{{post.LogAuthorisedUserName}}</td>
                      <td>{{post.LogLoginDate}}</td>

                    </tr>



                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- END FORM-->
      </div>
    </div>

  </div>
  <!-- END CONTENT BODY -->
</div>