<div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">

            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a [routerLink]="['/dashboard']">Dashboard</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>Core</span>
                    </li>
                </ul>

            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->

            <!-- END PAGE TITLE-->

            <div class="clearfix"></div>
            <!-- END DASHBOARD STATS 1-->
            <div *ngIf="status"  class="portlet light bordered">

                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-red-sunglo">
                                        <i class="fa fa-flask
                                        font-red-sunglo"></i>
                                        <span class="caption-subject
                                            bold uppercase">Fluids</span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">

                                            <table datatable
                                            [dtOptions]="dtOptions"
                                            [dtTrigger]="dtTrigger"
                                            class="table table-striped
                                            table-bordered table-hover"
                                            id="sample_1">
                                                <thead>
                                                  <tr >
                                                    <th>Wellbore_id</th>
                                                    <th>Sampling_activity</th>
                                                    <th>Sampling_company</th>
                                                    <th>Sample_type </th>
                                                    <th>Sample_volume</th>
                                                    <th>Actions</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr *ngFor="let post of users">
                                                    <td>{{post.Wellbore_id}}</td>
                                                    <td>{{post.Sampling_activity}}</td>
                                                    <td>{{post.Sampling_company}}</td>
                                                    <td>{{post.Sample_type }}</td>
                                                    <td>{{post.Sample_volume}}</td>
                                                    <td>
                                                       
                                                      <button type="button" class="btn red btn-outline"
                                                      (click)="onSelect(post)"><i class="fa fa-trash-o"></i></button>
                                                      <a class="btn purple btn-outline bold" (click)="onView(post)"
                                                      data-toggle="modal" href="#large"> More </a>
                                                    </td>
                                                  </tr>


                                                </tbody>
                                              </table>
                                        </div>
                                    </div>
                                    <!-- END EXAMPLE TABLE PORTLET-->
                                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                    <!-- END EXAMPLE TABLE PORTLET-->
                                </div>
                            </div>

                            <!-- END FORM-->
                        </div>
                    </div>



                    <div *ngIf="details" class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                        <div class="caption font-red-sunglo">
                                                <i class="fa fa-flask
                                        font-red-sunglo"></i>
                                                <span class="caption-subject
                                                    bold uppercase">Fluids</span>
                                            </div>

                                        <!-- <h4 class="modal-title">{{ data.StratLithoName }}</h4> -->
                                        <!-- <button type="button" data-dismiss="modal" class="btn blue" (click)="onSelectEdit(data)">Edit</button> -->
                                    </div>
                                    <div class="modal-body">
                                      <table class="table table-bordered table-striped">
                                          <tbody>
                                            <tr>
                                                <th style="width:25%"> Wellbore Id</th>
                                                <td style="width:25%">{{catalogs.Wellbore_id}} </td>
                                                <th style="width:25%"> Sampling Activity </th>
                                                <td style="width:25%"> {{catalogs.Sampling_activity}}</td>
        
                                            </tr>
                                            <tr>
                                                <th style="width:25%"> Fluid Category</th>
                                                <td style="width:25%">{{catalogs.Fluid_category}} </td>
                                                <th style="width:25%"> Sample Type </th>
                                                <td style="width:25%"> {{catalogs.Sample_type}}</td>
        
                                            </tr>
                                            <tr>
                                                    <th style="width:25%"> Sample Volume</th>
                                                    <td style="width:25%">{{catalogs.Sample_volume}} </td>
                                                    <th style="width:25%"> Depth Obtained </th>
                                                    <td style="width:25%"> {{catalogs.Depth_obtained}}</td>
            
                                                </tr>
                                                <tr>
                                                    <th style="width:25%">Date Collected</th>
                                                    <td style="width:25%">{{catalogs.Date_collected}} </td>
                                                    <th style="width:25%"> Date_received </th>
                                                    <td style="width:25%"> {{catalogs.Date_received}}</td>
            
                                                </tr>
                                                <tr>
                                                        <th style="width:25%"> Sampling Company</th>
                                                        <td style="width:25%">{{catalogs.Sampling_company}} </td>
                                                        <th style="width:25%"> Files </th>
                                                        <td style="width:25%"><a
                                                                (click)="onSelectFiles(catalogs)"
                                                                data-dismiss="modal">View
                                                                Files</a></td>
                
                                                    </tr>
                                            
                                           </tbody>
                                       </table>
                                       <div class="clearfix"></div>
                                       <button (click)="onSelectEdit(catalogs)" data-dismiss="modal"   class="btn blue">Edit</button>
                                       <button  (click)="onFile()"  data-dismiss="modal"   class="btn yellow">Add File</button>


                                   </div>
                                   <!-- <div class="modal-footer">
                                       <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                                       <button type="button" class="btn green">Save changes</button>
                                   </div> -->
                                   <!-- /.modal-content -->
                               </div>
              
                               <!-- /.modal-dialog -->
                           </div>
                        </div>


                        <div *ngIf="uploadFile" class="portlet light bordered">
                            <div class="portlet-body form">
                                    <form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="upload()" ngNativeValidate>
                
                                            <div class="form-body row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                             <label>Analysis Report</label>
                                                             <input type="file" formControlName="Analysis_reports" (change)="selectFile($event)">                                         
                                                        </div>
                                                        
                                                    </div>
                                                  
                      
                                                  </div>
                
                                    <div class="form-actions">
                                        <button  type="submit" class="btn blue">Upload</button>
                                        <button (click)="navigateBack()" type="button" class="btn default">Back</button>
                                    </div>
                                </form>
                           
                                <!-- <form [formGroup]="formGroup" (ngSubmit)="submit()">

                                      
                                    <div class="form-group">
                                        <label for="file">File</label>
                                        <input 
                                            formControlName="Core_analysis_reports"
                                            id="file" 
                                            type="file" 
                                            class="form-control"
                                            (change)="onFileChange($event)">
                                           
                                       
                                    </div>
                                          
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </form> -->
                            </div>
                      

                       
                        

                        <!-- <angular-file-uploader
                            [config]="afuConfig">
                        </angular-file-uploader> -->
                                                    <!-- <angular-file-uploader
                            [config]="afuConfig">
                        </angular-file-uploader> -->
                        <!-- <input type="file" class="file-input"
                        [accept]="requiredFileType"
                        (change)="onFileSelected($event)" #fileUpload>
                 
                 <div class="file-upload">
                 
                    {{fileName || "No file uploaded yet."}}
                 
                     <button mat-mini-fab color="primary" class="upload-btn"
                       (click)="fileUpload.click()">
                         <mat-icon>attach_file</mat-icon>
                 
                     </button>
                 
                 </div>
                 
                 <div class="progress">
                 
                   <mat-progress-bar class="progress-bar" mode="determinate"
                                     [value]="uploadProgress" *ngIf="uploadProgress">
                 
                   </mat-progress-bar>
                 
                   <mat-icon class="cancel-upload" (click)="cancelUpload()" 
                             *ngIf="uploadProgress">delete_forever</mat-icon>
                 
                 </div> -->
                        
                    </div>
                 


                     

            <div *ngIf="editform" class="portlet light bordered">
                    <div class="portlet-body form">
                            <form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="updateCoreCatProcess()" ngNativeValidate>
        
                                    <div class="form-body row">
                                            <div class="col-md-6">
                                                
                                                <div class="form-group">
                                                    <label>Wellbore</label>
                                                    <select class="form-control"
                                                       required formControlName="Wellbore_id"
                                                      name="Wellbore_id">
                                                      <option *ngFor="let city of wellboreIds"
                                                          [ngValue]="city.Wellbore_id"
                                                          (change)="changeWellboreId($event)">{{city.Wellbore_id}}-->{{city.WellboreLocalName}}
                                                      </option>
                                                  </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Sampling Activity</label>
                                                    <input type="text" formControlName="Sampling_activity" class="form-control">
                                                </div>
                                               
                                                <div class="form-group">
                                                    <label>Fluid Category</label>
                                                    <span class="error">*</span>
                                                    <select class="form-control"  required formControlName="Fluid_category">
                                                            <option *ngFor="let role of Fluids" [ngValue]="role"
                                                                (change)="changeFluids($event)">{{role}}
                                                            </option>
                                                            </select>  
                                                </div>
                                                <div class="form-group">
                                                    <label>Sample_type</label>
                                                    <input type="text" formControlName="Sample_type" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>Sample_volume</label>
                                                    <input type="text" formControlName="Sample_volume" class="form-control">
                                                </div>
                                              
                                            </div>
                                            <div class="col-md-6">
                                              <div class="form-group">
                                                      <label>Depth_obtained</label>
                                                      <input type="number"  step="any" formControlName="Depth_obtained" class="form-control">
                                                  </div>
              
                                                <div class="form-group">
                                                    <label>Date_collected</label>
                                                    <input type="date"  min="1900-10-01" max={{mindate}} formControlName="Date_collected" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>Date_received</label>
                                                    <input type="date" min="1900-10-01" max={{mindate}}  formControlName="Date_received" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>Sampling_company</label>
                                                    <select
                                                    formControlName="Sampling_company"
                                                    name="Sampling_company"
                                                    class="form-control">
                                                    <option *ngFor="let city of
                                                        WBCoringContractor_id"
                                                        [ngValue]="city.Company_id"
                                                        (change)="changeContractingId($event)">{{city.Company_id}}-->{{city.CompanyShortName}}
                                                    </option>
                                                </select>  
                                                  </div>                                
                                            </div>
              
                                          </div>
                            <div class="form-actions">
                                <button  type="submit" class="btn blue">Update</button>
                                <button (click)="navigateBack()" type="button" class="btn default">Back</button>
                            </div>
                        </form>
                    </div>
                </div>  



                <div *ngIf="viewFiles" class="portlet light bordered">
                        <div class="portlet-body form">
    
                            <h3> Files</h3>
    
                            <div class="portlet-body">
    
                                <table datatable
                                    [dtOptions]="dtOptions"
                                    [dtTrigger]="dtTrigger"
                                    class="table table-striped
                                    table-bordered table-hover"
                                    id="sample_1">
                                    <thead>
                                        <tr>
                                            <th>File Name </th>
                                            <th>Download link</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let img of cutImg">
                                            <td>{{img.name}}</td>
                                            <td><a href={{img.link}}
                                                    target="_blank">Download</a></td>
                                        </tr>
                                    </tbody>
                                </table>
    
                                <button (click)="navigateBack()" type="button"
                                    class="btn default">Back</button>
                            </div>
    
                        </div>
                    </div>

                </div>


                
                <!-- END CONTENT BODY -->
            </div>