<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">

        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a [routerLink]="['/dashboard']">Dashboard</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Core</span>
                </li>
            </ul>

        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->

        <!-- END PAGE TITLE-->

        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->
        <div *ngIf="status" class="portlet light bordered">

            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-red-sunglo">
                                    <i class="fa fa-flask
                                        font-red-sunglo"></i>
                                    <span class="caption-subject
                                        bold uppercase">Fluids</span>
                                </div>
                                <div class="tools"> </div>
                            </div>
                            <div class="portlet-body">

                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped
                                    table-bordered table-hover" id="sample_1">
                                    <thead>
                                        <tr>
                                            <th>WellboreId</th>
                                            <th>SamplingActivity</th>
                                            <th>SamplingCompany</th>
                                            <th>SampleType </th>
                                            <th>SampleVolume</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let post of users">
                                            <td>{{post.WellboreId}}</td>
                                            <td>{{post.SamplingActivity}}</td>
                                            <td>{{post.SamplingCompany}}</td>
                                            <td>{{post.SampleType }}</td>
                                            <td>{{post.SampleVolume}}</td>
                                            <td>

                                                <button *ngIf="checkstaff" type="button" class="btn red
                                                    btn-outline" (click)="onSelect(post)"><i
                                                        class="fa fa-trash-o"></i></button>
                                                <a class="btn purple btn-outline
                                                    bold" (click)="onView(post)" data-toggle="modal" href="#large">
                                                    More </a>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>

                <!-- END FORM-->
            </div>
        </div>



        <div *ngIf="details" class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <div class="caption font-red-sunglo">
                            <i class="fa fa-flask
                                font-red-sunglo"></i>
                            <span class="caption-subject
                                bold uppercase">Fluids</span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <th style="width:25%"> Wellbore Id</th>
                                    <td style="width:25%">{{catalogs.WellboreId}}
                                    </td>
                                    <th style="width:25%"> Sampling Activity
                                    </th>
                                    <td style="width:25%">
                                        {{catalogs.SamplingActivity}}</td>

                                </tr>
                                <tr>
                                    <th style="width:25%"> Fluid Category</th>
                                    <td style="width:25%">{{catalogs.FluidCategory}}
                                    </td>
                                    <th style="width:25%"> Sample Type </th>
                                    <td style="width:25%">
                                        {{catalogs.SampleType}}</td>

                                </tr>
                                <tr>
                                    <th style="width:25%"> Sample Volume</th>
                                    <td style="width:25%">{{catalogs.SampleVolume}}
                                    </td>
                                    <th style="width:25%"> Depth Obtained </th>
                                    <td style="width:25%">
                                        {{catalogs.DepthObtained}}</td>

                                </tr>
                                <tr>
                                    <th style="width:25%">Date Collected</th>
                                    <td style="width:25%">{{catalogs.DateCollected}}
                                    </td>
                                    <th style="width:25%"> DateReceived </th>
                                    <td style="width:25%">
                                        {{catalogs.DateReceived}}</td>

                                </tr>

                                <tr>
                                    <th style="width:25%">Sample</th>
                                    <td style="width:25%">{{catalogs.SamplePurpose}}
                                    </td>
                                    <th style="width:25%">
                                        OtherSpecifiedSamplePurpose </th>
                                    <td style="width:25%">
                                        {{catalogs.OtherSpecifiedSamplePurpose}}</td>
                                </tr>


                                <tr>
                                    <th style="width:25%"> Sampling Company</th>
                                    <td style="width:25%">{{catalogs.SamplingCompany}}
                                    </td>
                                    <th style="width:25%"> Files </th>
                                    <td style="width:25%"><a (click)="onSelectFiles(catalogs)" data-dismiss="modal">View
                                            Files</a></td>

                                </tr>
                                <tr>
                                    <th style="width:25%"> Slide Gallerry</th>
                                    <td style="width:25%"><a (click)="onSelectGallery(catalogs)"
                                            data-dismiss="modal">Continue to
                                            Gallery</a></td>

                                </tr>

                            </tbody>
                        </table>
                        <div class="clearfix"></div>
                        <button *ngIf="checkstaff" (click)="onSelectEdit(catalogs)" data-dismiss="modal" class="btn blue">Edit</button>
                        <button  *ngIf="checkstaff" (click)="onFile()" data-dismiss="modal" class="btn yellow">Add File</button>


                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="uploadFile" class="portlet light bordered">
            <div class="portlet-body form">
                <form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="upload()" ngNativeValidate>

                    <div class="form-body row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Analysis Report</label>
                                <input type="file" formControlName="Analysis_reports" (change)="selectFile($event)">
                            </div>

                        </div>


                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn blue">Upload</button>
                        <button (click)="navigateBack()" type="button" class="btn default">Back</button>
                    </div>
                </form>
            </div>
        </div>





        <div *ngIf="editform" class="portlet light bordered">
            <div class="portlet-body form">
                <form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="updateCoreCatProcess()"
                    ngNativeValidate>

                    <div class="form-body row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label>Wellbore</label>
                                <select class="form-control" required formControlName="WellboreId" name="WellboreId">
                                    <option *ngFor="let city of wellboreIds" [ngValue]="city.WellboreId"
                                        (change)="changeWellboreId($event)">
                                        {{city.WellboreId}}-->{{city.WellboreLocalName}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Sampling Activity</label>
                                <input type="text" formControlName="SamplingActivity" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Fluid Category</label>
                                <span class="error">*</span>
                                <select class="form-control" required formControlName="FluidCategory">
                                    <option *ngFor="let role of Fluids" [ngValue]="role"
                                        (change)="changeFluids($event)">{{role}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>SampleType</label>
                                <input type="text" formControlName="SampleType" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>SampleVolume</label>
                                <input type="text" formControlName="SampleVolume" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Sample_Purpose</label>
                                <select class="form-control" formControlName="SamplePurpose">
                                    <option *ngFor="let role of Purpose" [ngValue]="role"
                                        (change)="changePurpose($event)">{{role}}
                                    </option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Other Specified SamplePurpose</label>
                                <input type="text" formControlName="OtherSpecifiedSamplePurpose" class="form-control">
                            </div>
                            <div class="form-group">
                                <label> Sample Basin </label>
                                <span class="error">*</span>
                                <select class="form-control" required formControlName="SampleBasin">
                                    <option *ngFor="let area of Basins" [ngValue]="area"
                                        (change)="changeBasins($event)">{{area}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>DepthObtained</label>
                                <input type="number" step="any" formControlName="DepthObtained" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>DateCollected</label>
                                <input type="date" min="1900-10-01" max={{mindate}} formControlName="DateCollected"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label>DateReceived</label>
                                <input type="date" min="1900-10-01" max={{mindate}} formControlName="DateReceived"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label>SamplingCompany</label>
                                <select formControlName="SamplingCompany" name="SamplingCompany" class="form-control">
                                    <option *ngFor="let city of
                                        WBCoringContractorId" [ngValue]="city.CompanyId"
                                        (change)="changeContractingId($event)">
                                        {{city.CompanyId}}-->{{city.CompanyShortName}}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn blue">Update</button>
                        <button (click)="navigateBack()" type="button" class="btn default">Back</button>
                    </div>
                </form>
            </div>
        </div>



        <div *ngIf="viewFiles" class="portlet light bordered">
            <div class="portlet-body form">

                <h3> Files</h3>

                <div class="portlet-body">

                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped
                        table-bordered table-hover" id="sample_1">
                        <thead>
                            <tr>
                                <th>File Name </th>
                                <th>Download link</th>
                                <th *ngIf="checkstaff">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let img of cutImg">
                                <td>{{img.name}}</td>
                                <td><a href={{img.link}} target="_blank">Download</a></td>
                                <td *ngIf="checkstaff">

                                    <button type="button" class="btn
                                        red btn-outline" (click)="onDeleteFile(img)"><i
                                            class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <button (click)="navigateBack()" type="button" class="btn default">Back</button>
                </div>

            </div>
        </div>



        <div *ngIf="uploadFile" class="portlet light bordered">
            <div class="portlet-body form">
                <form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="uploadImage()" ngNativeValidate>

                    <div class="form-body row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label>FluidPhotograph</label>
                                <input type="file" formControlName="FluidPhotograph" (change)="selectFile($event)">
                            </div>

                        </div>


                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn blue">Upload</button>
                        <button (click)="navigateBack()" type="button" class="btn default">Back</button>
                    </div>
                </form>
            </div>
        </div>

    </div>



    <!-- END CONTENT BODY -->
</div>