<div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
    
            <!-- END PAGE HEADER-->
            <div class="row">
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light bordered">
    
                        <div class="portlet-body form">
                            <form [formGroup]="formGroup" (ngSubmit)="addFluid()" ngNativeValidate>
                                <div class="form-body row">
                                  <div class="col-md-6">
                                      
                                      <div class="form-group">
                                          <label>Wellbore</label>
                                          <select class="form-control"
                                             required formControlName="Wellbore_id"
                                            name="Wellbore_id">
                                            <option *ngFor="let city of wellboreIds"
                                                [ngValue]="city.Wellbore_id"
                                                (change)="changeWellboreId($event)">{{city.Wellbore_id}}-->{{city.WellboreLocalName}}
                                            </option>
                                        </select>
                                      </div>
                                      <div class="form-group">
                                          <label>Sampling Activity</label>
                                          <input type="text" formControlName="Sampling_activity" class="form-control">
                                      </div>
                                     
                                      <div class="form-group">
                                          <label>Fluid Category</label>
                                          <span class="error">*</span>
                                          <select class="form-control"  required formControlName="Fluid_category">
                                                  <option *ngFor="let role of Fluids" [ngValue]="role"
                                                      (change)="changeFluids($event)">{{role}}
                                                  </option>
                                                  </select>  
                                      </div>
                                      <div class="form-group">
                                          <label>Sample_type</label>
                                          <input type="text"  formControlName="Sample_type" class="form-control">
                                      </div>
                                      <div class="form-group">
                                          <label>Sample_volume</label>
                                          <input type="text" formControlName="Sample_volume" class="form-control">
                                      </div>
                                    
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                            <label>Depth_obtained</label>
                                            <input type="number"  step="any" formControlName="Depth_obtained" class="form-control">
                                        </div>
    
                                      <div class="form-group">
                                          <label>Date_collected</label>
                                          <input type="date" min="1900-10-01" max={{mindate}}  formControlName="Date_collected" class="form-control">
                                      </div>
                                      <div class="form-group">
                                          <label>Date_received</label>
                                          <input type="date"  min="1900-10-01" max={{mindate}} formControlName="Date_received" class="form-control">
                                      </div>
                                      <div class="form-group">
                                          <label>Sampling_company</label>
                                          <select
                                          formControlName="Sampling_company"
                                          name="Sampling_company"
                                          class="form-control">
                                          <option *ngFor="let city of
                                              WBCoringContractor_id"
                                              [ngValue]="city.Company_id"
                                              (change)="changeContractingId($event)">{{city.Company_id}}-->{{city.CompanyShortName}}
                                          </option>
                                      </select>  
                                        </div>                                
                                  </div>
    
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-4">
                                                <input type="submit" value="Save" class="btn
                                                btn-success">            
                                            <button type="button" class="btn
                                                default">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END SAMPLE FORM PORTLET-->
    
                </div>
    
            </div>
    
        </div>
        <!-- END CONTENT BODY -->
    </div>
    