<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->

        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a [routerLink]="['/dashboard']">Dashboard</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>add-web-security</span>
                </li>
            </ul>

        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->

        <!-- END PAGE TITLE-->

        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->
        <div class="portlet light bordered">

            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="addSecurityProcess()">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Web
                                Security Level Name</label>
                            <div class="col-md-4">
                                <input type="text" formControlName="WebSecurityLevelName" class="form-control"
                                    placeholder="Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Web
                                Security Level Description</label>
                            <div class="col-md-4">
                                <input type="text" formControlName="WebSecurityLevelDescription" class="form-control"
                                    placeholder="Description">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Web
                                Security Level Abbreviation</label>
                            <div class="col-md-4">
                                <input type="text" formControlName="WebSecurityLevelAbbreviation" class="form-control"
                                    placeholder="Abbreviation">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Comments</label>
                            <div class="col-md-4">
                                <textarea name="name" rows="4" cols="40" formControlName="Comments" class="form-control"
                                    placeholder=""></textarea>

                            </div>


                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-4">
                                <input type="submit" value="Save" class="btn
                                    btn-success">
                                <button type="button" class="btn
                                    default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>