<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
      
  
        <!-- END THEME PANEL -->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a routerLink="dashboard">Dashboard</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>add Core Catalog</span>
                </li>
            </ul>
        
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->

        <!-- END PAGE TITLE-->

        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                 <form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="addCoreCatProcess()" ngNativeValidate>

                    <div class="form-body row">
                        <div class="col-md-3">

                            <div class="form-group">

                                <label>Wellbore Core </label>
                                <span class="error">*</span>
                                    <select class="custom-select"
                                   required formControlName="WellboreCore_id"
                                    name="WellboreCore_id"
                                    class="form-control">
                                    <option *ngFor="let city of
                                        wellboreCoreIds"
                                        [ngValue]="city.WellboreCore_id"
                                        (change)="changeWellboreCoreId($event)">{{city.WellboreCore_id}}-->{{city.CoreNumber}}
                                    </option>
                                </select>
                                


                            </div>
                            <div class="form-group">
                                <label>Core Type</label>
                                <span class="error">*</span>
                                <select class="form-control" required formControlName="CoreType">
                                        <option *ngFor="let  id of CoreTypeIds" [ngValue]="id.CoreType_id"
                                            (change)="changeCoreTypes($event)">{{id.CoreType_id}}-->{{id.CoreTypeName}}
                                        </option>
                                        </select>    

                            </div>
                            <div class="form-group">
                                <label>Store Identifier</label>
                                <input formControlName="StoreIdentifier"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                          
                            <div class="form-group">
                                <label>Catalog Core From Depth</label>
                                <input
                                    formControlName="CatalogCoreFromDepth"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Catalog Core To Depth</label>
                                <input formControlName="CatalogCoreToDepth"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Core Catalog Security Flag</label>
                                <select formControlName="CoreCatalogSecurityFlag_id"
                                name="CoreCoreCatalogSecurityFlag_id"
                                class="form-control">
                                <option *ngFor="let city of
                                CatalogSecurityFlag_ids"
                                    [ngValue]="city.CatalogSecurityFlag_id"
                                    (change)="changeCoreReportSecurityGrade_id($event)">{{city.CatalogSecurityFlag_id}}-->{{city.CatalogSecurityFlagName}}
                                </option>
                            </select>
                            </div>
                            <div class="form-group">
                                    <label>Was Analysed</label>
                                    <input
                                        formControlName="WasAnalysed_id"
                                        type="number" class="form-control"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>Top StratLitho </label>                               
                                    <select formControlName="TopStratLitho_id"
                                    name="TopStratLitho_id"
                                    class="form-control">
                                    <option *ngFor="let city of TopStratLitho_id"
                                        [ngValue]="city.StratLitho_id"
                                        (change)="changeTopStratLitho_id($event)">{{city.StratLitho_id}}-->{{city.	StratLithoName}}
                                    </option>
                                </select>
                                </div>
                                <div class="form-group">
                                    <label>BottomStratLitho</label>
                                    <select formControlName="BottomStratLitho_id"
                                    name="BottomStratLitho_id"
                                    class="form-control">
                                    <option *ngFor="let city of TopStratLitho_id"
                                        [ngValue]="city.StratLitho_id"
                                        (change)="changeTopStratLitho_id($event)">{{city.StratLitho_id}}-->{{city.	StratLithoName}}
                                    </option>
                                </select>
                                </div>
                                <div class="form-group">
                                        <label>Catalogue Core Picture Name</label>
                                        <input
                                            formControlName="CatalogueCorePictureName"
                                            type="text" class="form-control"
                                            placeholder="">
                                    </div>

                        </div>
                        <div class="col-md-3">

                      
                                <div class="form-group">
                                    <label>Catalogue Picture Softcopy Path</label>
                                    <input
                                        formControlName="CataloguePictureSoftcopyPath"
                                        type="text" class="form-control"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>Catalogue Report Softcopy Path </label>
                                    <input
                                        formControlName="CatalogueReportSoftcopyPath"
                                        type="text" class="form-control"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>Catalogue Report Hyperlink</label>
                                    <input
                                        formControlName="CatalogueReportHyperlink"
                                        type="text" class="form-control"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                        <label>Catalog Report Format </label>
                                        <input
                                            formControlName="CatalogReportFormat_id"
                                            type="number" class="form-control"
                                            placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Catalog Report FileSize</label>  <input
                                            formControlName="CatalogReportFileSize"
                                            type="number" class="form-control"
                                            placeholder="">
                                    </div>

                        </div>
                        <div class="col-md-3">
                           
                            
                            <div class="form-group">
                                <label>Catalog Report Security Grade </label>
                                <input
                                    formControlName="CatalogReportSecurityGrade_id"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Core Catalog Name</label>
                                <span class="error">*</span>
                                <input
                                    required 
                                    formControlName="CoreCatalogName"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Comments</label>
                                <textarea name="name" rows="4" cols="40" formControlName="Comments" class="form-control" placeholder=""></textarea>
                            </div>
                           
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn blue">Save</button>
                        <button type="button" class="btn default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>