<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">


        <!-- END THEME PANEL -->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a routerLink="dashboard">Dashboard</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>add Core Catalog</span>
                </li>
            </ul>

        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->

        <!-- END PAGE TITLE-->

        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="addCoreCatProcess()" ngNativeValidate>

                    <div class="form-body row">
                        <div class="col-md-6">

                            <div class="form-group">

                                <label>Wellbore Core </label>
                                <span class="error">*</span>
                                <select class="custom-select" required formControlName="WellboreCoreId"
                                    name="WellboreCoreId" class="form-control">
                                    <option *ngFor="let city of
                                        wellboreCoreIds" [ngValue]="city.WellboreCoreId"
                                        (change)="changeWellboreCoreId($event)">
                                        {{city.WellboreCoreId}}-->{{city.CoreNumber}}
                                    </option>
                                </select>



                            </div>

                            <div class="form-group">
                                <label>Store Identifier</label>
                                <input formControlName="StoreIdentifier" type="text" class="form-control"
                                    placeholder="">
                            </div>

                            <div class="form-group">
                                <label>Catalog Core From Depth</label>
                                <input formControlName="CatalogCoreFromDepth" type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Catalog Core To Depth</label>
                                <input formControlName="CatalogCoreToDepth" type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Was Analysed</label>
                                <input formControlName="WasAnalysedId" type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Top StratLitho </label>
                                <select formControlName="TopStratLithoId" name="TopStratLithoId" class="form-control">
                                    <option *ngFor="let city of TopStratLithoId" [ngValue]="city.StratLithoId"
                                        (change)="changeTopStratLithoId($event)">{{city.StratLithoId}}-->{{city.
                                        StratLithoName}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>BottomStratLitho</label>
                                <select formControlName="BottomStratLithoId" name="BottomStratLithoId"
                                    class="form-control">
                                    <option *ngFor="let city of TopStratLithoId" [ngValue]="city.StratLithoId"
                                        (change)="changeTopStratLithoId($event)">{{city.StratLithoId}}-->{{city.
                                        StratLithoName}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Catalogue Core Picture Name</label>
                                <input formControlName="CatalogueCorePictureName" type="text" class="form-control"
                                    placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Catalogue Picture Softcopy Path</label>
                                <input formControlName="CataloguePictureSoftcopyPath" type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Catalogue Report Softcopy Path </label>
                                <input formControlName="CatalogueReportSoftcopyPath" type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Catalogue Report Hyperlink</label>
                                <input formControlName="CatalogueReportHyperlink" type="text" class="form-control"
                                    placeholder="">
                            </div>

                            <div class="form-group">
                                <label>Catalog Report FileSize</label> <input formControlName="CatalogReportFileSize"
                                    type="number" class="form-control" placeholder="">
                            </div>

                            <div class="form-group">
                                <label>Core Catalog Name</label>
                                <span class="error">*</span>
                                <input required formControlName="CoreCatalogName" type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Comments</label>
                                <textarea name="name" rows="4" cols="40" formControlName="Comments" class="form-control"
                                    placeholder=""></textarea>
                            </div>

                        </div>

                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn blue">Save</button>
                        <button type="button" class="btn default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>