

<div class="page-container">

    <!-- BEGIN CONTENT -->
    <div class="container">
      <!-- BACK Nav -->
      <div class="back-nav">
          <a class="back-nav-trigger" routerLink="/dashboard">
            <i class="fa fa-arrow-left text-white"></i>
          </a>
          <span aria-hidden="true" class="back-nav-bg"></span>
      </div>
      <!-- BACK Nav -->
      <!-- BEGIN HEADER -->
      <div class="container p-5 middle text-white">
        <h3> ADD COMPANY DETAILS </h3>
      </div>
      <!-- END HEADER -->
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">

            <!-- END PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-red-sunglo">
                                <i class="icon-settings font-red-sunglo"></i>
                                <!-- <span class="caption-subject bold uppercase"> Default Form</span> -->
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown"> Actions
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-pencil"></i> Edit </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-trash-o"></i> Delete </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form">
                          <!-- <form role="form"> -->
                            <form [formGroup]="formGroup" (ngSubmit)="addCompanyDetails()" ngNativeValidate>
                                <div class="form-body row">
                                  <div class="col-md-3">
                                    <div class="form-group">
                                        <label>PAUID<span class="red asterisk-validate ml-2">*</span></label>
                                        <input type="text" formControlName="PAUID" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Long Name<span class="red asterisk-validate ml-2">*</span></label>
                                        <input type="text" formControlName="CompanyLongName" required class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Short Name</label>
                                        <input type="text" formControlName="CompanyShortName" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>NSD Number<span class="red asterisk-validate ml-2">*</span></label>
                                        <input type="text" formControlName="NSD_Number" required class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Category ID</label>
                                        <input type="number" formControlName="CompanyCategory_id" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Of Origin ID</label>
                                        <input type="number" formControlName="CountryOfOrigin_id" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Country Of Registration ID</label>
                                        <input type="number" formControlName="CountryOfRegistration_id" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Registration Number<span class="red asterisk-validate ml-2">*</span></label>
                                        <input type="text" formControlName="RegistrationNumber" required class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>TIN Number<span class="red asterisk-validate ml-2">*</span></label>
                                        <input type="text" formControlName="TINNumber" required class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Telephone</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </span>
                                            <input type="text" class="form-control" formControlName="CompanyTelephone"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Company Email</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                            <input type="text" class="form-control" formControlName="CompanyEmail"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Company Website</label>

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-link"></i>
                                            </span>
                                            <input type="text" class="form-control" formControlName="CompanyWebsite"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Company Entity Type ID</label>
                                        <input type="number" class="form-control" formControlName="CompanyEntityType_id">
                                    </div>
                                  </div>

                                 <div class="col-md-3">

                                    <div class="form-group">
                                        <label>Company Entity Sub Type ID</label>
                                        <input type="number" formControlName="CompanyEntitySubType_id" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Major Activity ID</label>
                                        <input type="number" formControlName="CompanyMajorActivity_id" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Activity Division ID</label>
                                        <input type="number" formControlName="CompanyActivityDivision_id" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Activity Division Class ID</label>
                                        <input type="number" formControlName="CompanyActivityDivisionClass_id" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>  Company Activity Division Class Category ID</label>
                                        <input type="number" formControlName="CompanyActivityDivisionClassCategory_id" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Business Nature Description</label>
                                        <input type="text" formControlName="BusinessNatureDescription" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Postal Address</label>
                                        <input type="text" formControlName="CompanyPostalAddress" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Physical Address</label>
                                        <input type="text" formControlName="CompanyPhysicalAddress" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Other Emails</label>

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                            <input type="text" class="form-control" formControlName="CompanyOtherEmails"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label>NSD Qualification Date</label>
                                        <input type="date" class="form-control" formControlName="NSDQualificationDate">
                                    </div>
                                    <div class="form-group">
                                        <label>NSD Qualification Year</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" class="form-control" formControlName="NSDQualificationYear"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Primary Contact Entity</label>
                                        <input type="text" formControlName="PrimaryContactEntity" class="form-control" placeholder="">
                                    </div>

                                  </div>

                                  <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Contact Entity Email</label>

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                            <input type="text" class="form-control" formControlName="ContactEntityEmail"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Contact Entity Telephone</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </span>
                                            <input type="text" class="form-control" formControlName="ContactEntityTelephone"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Contact Entity Mobile</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </span>
                                            <input type="text" class="form-control" formControlName="ContactEntityMobile"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Contact Designation</label>
                                        <input type="text" formControlName="ContactDesignation" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Operator Sort Order</label>
                                        <input type="text" formControlName="OperatorSortOrder" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Contractor Sort Order</label>
                                        <input type="text" formControlName="ContractorSortOrder" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>PAU Registration Date</label>
                                        <input type="date" class="form-control" formControlName="PAURegistrationDate">
                                    </div>
                                    <div class="form-group">
                                        <label>Crane NOGTRID</label>
                                        <input type="text" formControlName="CraneNOGTRID" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Temp NOGTRIPwd</label>
                                        <input type="text" formControlName="TempNOGTRIPwd" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Registration Status ID</label>
                                        <input type="text" formControlName="RegistrationStatus_id" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Classify As Ugandan ID</label>
                                        <input type="text" formControlName="ClassifyAsUgandan_id" class="form-control" placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <label>Primary Company Kind ID</label>
                                        <input type="text" formControlName="PrimaryCompanyKind_id" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Secondary Company Kind ID</label>
                                        <input type="text" formControlName="SecondaryCompanyKind_id" class="form-control" placeholder="">
                                    </div>
                                  </div>

                                  <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Other Company Kind ID</label>
                                        <input type="text" formControlName="OtherCompanyKind_id" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Group ID</label>
                                        <input type="text" formControlName="CompanyGroup_id" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Mobile</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </span>
                                            <input type="text" class="form-control" formControlName="CompanyMobile"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Company Fax</label>
                                        <input type="text" formControlName="CompanyFax" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Contact Entity Fax</label>
                                        <input type="text" formControlName="ContactEntityFax" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>NSD From Date</label>
                                        <input type="date" class="form-control" formControlName="NSD_FromDate">
                                    </div>
                                    <div class="form-group">
                                        <label>NSD To Date</label>
                                        <input type="date" class="form-control" formControlName="NSD_ToDate">
                                    </div>
                                    <div class="form-group">
                                        <label>Imported From NSD</label>
                                        <input type="text" formControlName="ImportedFromNSD" class="form-control" placeholder="">
                                    </div>
                                    <!-- <div class="form-group">
                                        <label>Imported Date</label>
                                        <input type="date" class="form-control" formControlName="ImportedDate">
                                    </div>
                                    <div class="form-group">
                                        <label>Exported Date</label>
                                        <input type="date" class="form-control" formControlName="ExportedDate">
                                    </div> -->
                                    <div class="form-group">
                                        <label>Exported To Nogtr</label>
                                        <input type="text" formControlName="ExportedToNogtr" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Record Change Stamp</label>
                                        <input type="text" formControlName="RecordChangeStamp" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Previous Legal Name</label>
                                        <input type="text" formControlName="PreviousLegalName" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Comments</label>
                                        <textarea name="name" rows="4" cols="40" formControlName="Comments" class="form-control" placeholder=""></textarea>
                                    </div>
                                  </div>
                              </div>

                              <div class="form-actions">
                                  <button type="submit" class="btn blue">Submit</button>
                                  <button type="button" class="btn default">Cancel</button>
                              </div>
                          </form>
                      </div>
                  </div>
                  <!-- END SAMPLE FORM PORTLET-->

                </div>
            </div>

        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

</div>
<router-outlet></router-outlet>
