<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        <!-- <div class="theme-panel hidden-xs hidden-sm">
            <div class="toggler"> </div>
            <div class="toggler-close"> </div>
            <div class="theme-options">
                <div class="theme-option theme-colors clearfix">
                    <span> THEME COLOR </span>
                    <ul>
                        <li class="color-default current tooltips"
                            data-style="default"
                            data-container="body"
                            data-original-title="Default"> </li>
                        <li class="color-darkblue tooltips"
                            data-style="darkblue"
                            data-container="body"
                            data-original-title="Dark Blue"> </li>
                        <li class="color-blue tooltips"
                            data-style="blue" data-container="body"
                            data-original-title="Blue"> </li>
                        <li class="color-grey tooltips"
                            data-style="grey" data-container="body"
                            data-original-title="Grey"> </li>
                        <li class="color-light tooltips"
                            data-style="light" data-container="body"
                            data-original-title="Light"> </li>
                        <li class="color-light2 tooltips"
                            data-style="light2"
                            data-container="body" data-html="true"
                            data-original-title="Light 2"> </li>
                    </ul>
                </div>
                <div class="theme-option">
                    <span> Theme Style </span>
                    <select class="layout-style-option form-control
                        input-sm">
                        <option value="square" selected="selected">Square
                            corners</option>
                        <option value="rounded">Rounded corners</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Layout </span>
                    <select class="layout-option form-control
                        input-sm">
                        <option value="fluid" selected="selected">Fluid</option>
                        <option value="boxed">Boxed</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Header </span>
                    <select class="page-header-option form-control
                        input-sm">
                        <option value="fixed" selected="selected">Fixed</option>
                        <option value="default">Default</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Top Menu Dropdown</span>
                    <select
                        class="page-header-top-dropdown-style-option
                        form-control input-sm">
                        <option value="light" selected="selected">Light</option>
                        <option value="dark">Dark</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Sidebar Mode</span>
                    <select class="sidebar-option form-control
                        input-sm">
                        <option value="fixed">Fixed</option>
                        <option value="default" selected="selected">Default</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Sidebar Menu </span>
                    <select class="sidebar-menu-option form-control
                        input-sm">
                        <option value="accordion"
                            selected="selected">Accordion</option>
                        <option value="hover">Hover</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Sidebar Style </span>
                    <select class="sidebar-style-option form-control
                        input-sm">
                        <option value="default" selected="selected">Default</option>
                        <option value="light">Light</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Sidebar Position </span>
                    <select class="sidebar-pos-option form-control
                        input-sm">
                        <option value="left" selected="selected">Left</option>
                        <option value="right">Right</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Footer </span>
                    <select class="page-footer-option form-control
                        input-sm">
                        <option value="fixed">Fixed</option>
                        <option value="default" selected="selected">Default</option>
                    </select>
                </div>
            </div>
        </div> -->
        <!-- END THEME PANEL -->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a [routerLink]="['/dashboard']">Dashboard</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>add-users</span>
                </li>
            </ul>
            <!-- <div class="page-toolbar">
                <div id="dashboard-report-range" class="pull-right
                    tooltips btn btn-sm" data-container="body"
                    data-placement="bottom"
                    data-original-title="Change dashboard date
                    range">
                    <i class="icon-calendar"></i>&nbsp;
                    <span class="thin uppercase hidden-xs"></span>&nbsp;
                    <i class="fa fa-angle-down"></i>
                </div>
            </div> -->
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->

        <!-- END PAGE TITLE-->

        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form [formGroup]="formGroup"
                (ngSubmit)="addUserProcess()" ngNativeValidate>
                    <div class="form-body row">
                        <div class="col-md-3">

                            <div class="form-group">
                               
                                <label>First Name</label>                                          
                                <span class="error">*</span>
                                <input required formControlName="FirstName"
                                    type="text" class="form-control"
                                    placeholder="">
                                    <div> <span class="errorName" *ngIf="f.FirstName.touched && f.FirstName.invalid">First
                                        Name is required</span></div>
                            </div>
                            <div class="form-group">
                                <label>MiddleName</label>
                                <input formControlName="MiddleName"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Surname</label>
                                <span class="error">*</span>
                                <input required formControlName="Surname"
                                    type="text" class="form-control"
                                    placeholder="">
                                    <div> <span class="errorName" *ngIf="f.Surname.touched && f.Surname.invalid">
                                    Surname is required</span></div>
                            </div>
                            <div class="form-group">
                                <label>LUID</label>
                                <input formControlName="LUID"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Crane User Name</label>
                                <span class="error">*</span>
                                <input
                                required formControlName="CraneUserName"
                                    type="text" class="form-control"
                                    placeholder="">
                                    <div> <span class="errorName" *ngIf="f.CraneUserName.touched && f.CraneUserName.invalid">Crane
                                        User Name is required</span></div>
                            </div>
                            <div class="form-group">
                                    <label>Login </label>
                                    <input formControlName="LoginID"
                                        type="text" class="form-control"
                                        placeholder="">
                                </div>
                        </div> 
                        <div class="col-md-3">
                       
                            <div class="form-group">
                                <label>Login Alias</label>
                                <input
                                    formControlName="LoginIDAlias"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>

                            <div class="form-group">
                                    <label>User Category</label>
                                    <span class="error">*</span>
                                    <select class="form-control"  required formControlName="UserCategory">
                                            <option *ngFor="let role of Roles" [ngValue]="role"
                                                (change)="changeRoles($event)">{{role}}
                                            </option>
                                            </select>    
                                                                                   
                                </div>

                        <div class="form-group">
                            <label>User Company</label>
                            <input
                                formControlName="UserCompany_id"
                                type="number" class="form-control"
                                placeholder="">
                        </div>

                        <div class="form-group">
                                <label>User Prems User</label>
                                <input
                                    formControlName="UserPremsUser_id"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>

                            <div class="form-group">
                                    <label>User Staff </label>
                                    <span class="error">*</span>
                                    <input
                                    required formControlName="UserStaff_id"
                                        type="number" class="form-control"
                                        placeholder="">
                                       
                                </div>

                                <div class="form-group">
                                        <label>Organisation Name</label>
                                        <span class="error">*</span>
                                        <input
                                        required formControlName="OrganisationName"
                                            type="text" class="form-control"
                                            placeholder="">
                                            
                                    </div>
                           
                        </div>   
                        <div class="col-md-3">

                            <div class="form-group">

                                <label>User Email Address</label>
                                
                                <span class="error">*</span>
                                <input
                                required formControlName="UserEmailAddress"
                                    type="text" class="form-control"
                                    placeholder="">
                                    
                            </div>
                            <div class="form-group">
                                <label>User Security Level </label>
                                <input
                                    formControlName="UserSecurityLevel_id"
                                    type="number" class="form-control"
                                    placeholder="">                                                
                                   
                            </div>
                            <div class="form-group">
                                <label>User Web Security Level</label>
                                <span class="error">*</span>
                                <select class="custom-select"
                                required formControlName="UserWebSecurityLevel_id"
                                    name="UserWebSecurityLevel_id"
                                    class="form-control">
                                    <option *ngFor="let city of securityIds"
                                    [ngValue]="city.WebSecurityLevel_id"
                                    (change)="changeSecurity($event)">{{city.WebSecurityLevel_id}}-->{{city.WebSecurityLevelName}}
                                    </option>
                                </select>
                                

                            </div>

                             <div class="form-group">
                                    <label>User Nogtr Web Security Level
                                        </label>
                                    <input
                                        formControlName="UserNogtrWebSecurityLevel_id"
                                        type="number" class="form-control"
                                        placeholder="">
                                </div>

                            <div class="form-group">
                                <label>User Prems Web Security Level
                                   </label>
                                <input
                                    formControlName="UserPremsWebSecurityLevel_id"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>User Intranet Security Level
                                    </label>
                                <input
                                    formControlName="UserIntranetSecurityLevel_id"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                         
                        </div>  

                        <div class="col-md-3">
                           
                            <div class="form-group">
                                <label>User Nsd Web Security Level
                                    </label>
                                <input
                                    formControlName="UserNsdWebSecurityLevel_id"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                          
                            <div class="form-group">
                                <label>Organisation User Name</label>
                                <input
                                    formControlName="OrganisationUserName"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Default Password</label>
                                <span class="error">*</span>
                                <input
                                required formControlName="DefaultPassword"
                                    type="password" class="form-control"
                                    placeholder="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                                    
                            </div>

                            <div class="form-group">
                                    <label>Comments</label>
                                    <textarea name="name" rows="4" cols="40" formControlName="Comments" class="form-control" placeholder=""></textarea>

                                </div>

                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn blue">Save</button>
                        <button type="button" class="btn default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>