<div class="page-content-wrapper ">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">

      <!-- BEGIN PAGE BAR -->
      <div class="page-bar">
          <ul class="page-breadcrumb">
              <li>
                  <a [routerLink]="['/dashboard']">Dashboard</a>
                  <i class="fa fa-circle"></i>
              </li>
              <li>
                  <span>All Companies</span>
              </li>
          </ul>

      </div>
      <!-- END PAGE BAR -->
      <!-- BEGIN PAGE TITLE-->

      <!-- END PAGE TITLE-->

      <div class="clearfix"></div>
      <!-- END DASHBOARD STATS 1-->
      <div  class="portlet light bordered">

          <div *ngIf="status" class="portlet-body form">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-red-sunglo">
                                <i class="fa fa-institution font-red-sunglo"></i>
                                <span class="caption-subject
                                bold uppercase">Companies</span>
                            </div>
                            <div class="tools"> </div>

                        </div>
                        <div class="portlet-body">

                            <table datatable [dtOptions]="dtOptions"
                                             [dtTrigger]="dtTrigger"
                                             >
                                <thead>
                                    <tr>
                                        <th> ID </th>
                                        <th> PAUID </th>
                                        <th> Long Name </th>
                                        <th> NSD Number </th>
                                        <th> Registration No </th>
                                        <th> TIN </th>
                                        <th> Telephone </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="posts?.length != 0">
                                    <tr *ngFor="let company of posts">
                                        <td> {{company.Company_id}}</td>
                                        <td> {{company.PAUID}}</td>
                                        <td> {{company.CompanyLongName}}</td>
                                        <td> {{company.NSD_Number}}</td>
                                        <td> {{company.RegistrationNumber}}</td>
                                        <td> {{company.TINNumber}}</td>
                                        <td> {{company.CompanyTelephone}}</td>
                                        <td><a class="btn purple btn-outline sbold"
                                          (click)="onView(company)" data-toggle="modal" href="#large">More</a>
                                        <button  type="button"  (click)="onSelect(company)"
                                          class="btn red btn-outline">
                                          <i class="fa fa-trash-o"></i></button></td>
                                    </tr>

                                </tbody>
                                <tbody *ngIf="posts?.length == 0">
                                  <tr>
                                    <td colspan="3" class="no-data-available">No data!</td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
          </div>

          <!-- /.modal -->
          <div  *ngIf="details" class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                          <h4 class="modal-title">{{data.CompanyLongName}}</h4>
                          <button type="button" data-dismiss="modal" class="btn blue" (click)="onSelectEdit(data)">Edit</button>
                      </div>
                      <div class="modal-body">
                        <div>
                        <div>
                         <table  class="table table-bordered table-striped">
                            <tbody>

                              <tr>
                                <th  style="width:25%">ID</th>
                                <td  style="width:25%"> {{ data.Company_id }} </td>

                                <th  style="width:25%">PAUID</th>
                                <td  style="width:25%"> {{ data.PAUID }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Company Long Name</th>
                                <td  style="width:25%"> {{ data.CompanyLongName }} </td>

                                <th  style="width:25%">Company Short Name</th>
                                <td  style="width:25%"> {{ data.CompanyShortName }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%"> NSD Number </th>
                                <td  style="width:25%"> {{ data.NSD_Number }} </td>

                                <th  style="width:25%"> Company Category Id </th>
                                <td  style="width:25%"> {{ data.CompanyCategory_id }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Country Of Origin Id</th>
                                <td  style="width:25%"> {{ data.CountryOfOrigin_id }} </td>

                                <th  style="width:25%">Country Of Registration Id</th>
                                <td  style="width:25%"> {{ data.CountryOfRegistration_id }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Registration Number</th>
                                <td  style="width:25%"> {{ data.RegistrationNumber }} </td>

                                <th  style="width:25%">TIN Number</th>
                                <td  style="width:25%"> {{ data.TINNumber }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Company Telephone</th>
                                <td  style="width:25%"> {{ data.CompanyTelephone }} </td>

                                <th  style="width:25%">Company Email</th>
                                <td  style="width:25%"> {{ data.CompanyEmail }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Company Website</th>
                                <td  style="width:25%"> {{ data.CompanyWebsite }} </td>

                                <th  style="width:25%">Company Entity Type Id</th>
                                <td  style="width:25%"> {{ data.CompanyEntityType_id }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Company Entity SubType Id</th>
                                <td  style="width:25%"> {{ data.CompanyEntitySubType_id }} </td>

                                <th  style="width:25%">Company Major Activity Id</th>
                                <td  style="width:25%"> {{ data.CompanyMajorActivity_id }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Company Activity Division Id</th>
                                <td  style="width:25%"> {{ data.CompanyActivityDivision_id }} </td>

                                <th  style="width:25%">Company Activity Division Class Id</th>
                                <td  style="width:25%"> {{ data.CompanyActivityDivisionClass_id }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Company Activity Division Class Category Id</th>
                                <td  style="width:25%"> {{ data.CompanyActivityDivisionClassCategory_id }} </td>

                                <th  style="width:25%">Business Nature Description</th>
                                <td  style="width:25%"> {{ data.BusinessNatureDescription }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Company Postal Address</th>
                                <td  style="width:25%"> {{ data.CompanyPostalAddress }} </td>

                                <th  style="width:25%">Company Physical Address</th>
                                <td  style="width:25%"> {{ data.CompanyPhysicalAddress }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Company Other Emails</th>
                                <td  style="width:25%"> {{ data.CompanyOtherEmails }} </td>

                                <th  style="width:25%">NSD Qualification Date</th>
                                <td  style="width:25%"> {{ data.NSDQualificationDate }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">NSD Qualification Year</th>
                                <td  style="width:25%"> {{ data.NSDQualificationYear }} </td>

                                <th  style="width:25%">Primary Contact Entity</th>
                                <td  style="width:25%"> {{ data.PrimaryContactEntity }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Contact Entity Email</th>
                                <td  style="width:25%"> {{ data.ContactEntityEmail }} </td>

                                <th  style="width:25%">Contact Entity Telephone</th>
                                <td  style="width:25%"> {{ data.ContactEntityTelephone }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Contact Entity Mobile</th>
                                <td  style="width:25%"> {{ data.ContactEntityMobile }} </td>

                                <th  style="width:25%">Contact Designation</th>
                                <td  style="width:25%"> {{ data.ContactDesignation }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Operator SortOrder</th>
                                <td  style="width:25%"> {{ data.OperatorSortOrder }} </td>

                                <th  style="width:25%">Contractor SortOrder</th>
                                <td  style="width:25%"> {{ data.ContractorSortOrder }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">PAU Registration Date</th>
                                <td  style="width:25%"> {{ data.PAURegistrationDate }} </td>

                                <th  style="width:25%">Crane NOGTRID</th>
                                <td  style="width:25%"> {{ data.CraneNOGTRID }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Temp NOGTRIPwd</th>
                                <td  style="width:25%"> {{ data.TempNOGTRIPwd }} </td>

                                <th  style="width:25%">Registration Status Id</th>
                                <td  style="width:25%"> {{ data.RegistrationStatus_id }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Classify As Ugandan Id</th>
                                <td  style="width:25%"> {{ data.ClassifyAsUgandan_id }} </td>

                                <th  style="width:25%">Comments</th>
                                <td  style="width:25%"> {{ data.Comments }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Primary Company Kind Id</th>
                                <td  style="width:25%"> {{ data.PrimaryCompanyKind_id }} </td>

                                <th  style="width:25%">Secondary Company Kind Id</th>
                                <td  style="width:25%"> {{ data.SecondaryCompanyKind_id }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Other CompanyKind Id</th>
                                <td  style="width:25%"> {{ data.OtherCompanyKind_id }} </td>

                                <th  style="width:25%">Company Group Id</th>
                                <td  style="width:25%"> {{ data.CompanyGroup_id }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Company Mobile</th>
                                <td  style="width:25%"> {{ data.CompanyMobile }} </td>

                                <th  style="width:25%">Company Fax</th>
                                <td  style="width:25%"> {{ data.CompanyFax }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Contact Entity Fax</th>
                                <td  style="width:25%"> {{ data.ContactEntityFax }} </td>

                                <th  style="width:25%">NSD From Date</th>
                                <td  style="width:25%"> {{ data.NSD_FromDate }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">NSD To Date</th>
                                <td  style="width:25%"> {{ data.NSD_ToDate }} </td>

                                <th  style="width:25%">Imported From NSD</th>
                                <td  style="width:25%"> {{ data.ImportedFromNSD }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Imported Date</th>
                                <td  style="width:25%"> {{ data.ImportedDate }} </td>

                                <th  style="width:25%">Exported Date</th>
                                <td  style="width:25%"> {{ data.ExportedDate }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Exported To Nogtr</th>
                                <td  style="width:25%"> {{ data.ExportedToNogtr }} </td>

                                <th  style="width:25%">Created By</th>
                                <td  style="width:25%"> {{ data.CreatedBy }} </td>
                              </tr>
                              <tr>
                                <th  style="width:25%">Date Created</th>
                                <td  style="width:25%"> {{ data.DateCreated }} </td>

                                <th  style="width:25%">Previous Legal Name</th>
                                <td  style="width:25%"> {{ data.PreviousLegalName }} </td>
                              </tr>
                             </tbody>
                         </table>
                        </div>
                        </div>

                      </div>
                      <div class="modal-footer">
                          <!-- <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                          <button type="button" class="btn green">Save changes</button> -->

                      </div>
                  </div>
                  <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
          </div>

          <div *ngIf="editform" class="portlet-body form">

              <form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="updateCompanyProcess()" ngNativeValidate>
                  <div class="form-body row">
                      <div class="col-md-3">
                        <div class="form-group">
                            <label>PAUID<span class="red asterisk-validate ml-2">*</span></label>
                            <input type="text" required formControlName="PAUID" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Company Long Name<span class="red asterisk-validate ml-2">*</span></label>
                            <input type="text" formControlName="CompanyLongName" required
                            class="form-control" >
                        </div>
                        <div class="form-group">
                            <label>Company Short Name</label>
                            <input type="text" formControlName="CompanyShortName"
                            class="form-control" >
                        </div>
                        <div class="form-group">
                            <label>NSD Number <span class="red asterisk-validate ml-2">*</span></label>
                            <input type="text" required formControlName="NSD_Number"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Company Category </label>
                            <input type="number" formControlName="CompanyCategory_id" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Company Of Origin </label>
                            <input type="number" formControlName="CountryOfOrigin_id" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Country Of Registration</label>
                            <input type="number" formControlName="CountryOfRegistration_id" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Registration Number<span class="red asterisk-validate ml-2">*</span></label>
                            <input type="text" required formControlName="RegistrationNumber"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label>TIN Number<span class="red asterisk-validate ml-2">*</span></label>
                            <input type="text" formControlName="TINNumber" required class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Company Telephone</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <input type="text" class="form-control" formControlName="CompanyTelephone"> </div>
                        </div>
                        <div class="form-group">
                            <label>Company Email</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="text" class="form-control" formControlName="CompanyEmail"> </div>
                        </div>
                        <div class="form-group">
                            <label>Company Website</label>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-link"></i>
                                </span>
                                <input type="text" class="form-control" formControlName="CompanyWebsite"> </div>
                        </div>
                        <div class="form-group">
                            <label>Company Entity Type</label>
                            <input type="number" class="form-control" formControlName="CompanyEntityType_id">
                        </div>
                        <div class="form-group">
                            <label>Company Entity Sub Type</label>
                            <input type="number" formControlName="CompanyEntitySubType_id" class="form-control">
                        </div>
                      </div>

                      <div class="col-md-3">

                        <div class="form-group">
                            <label>Company Major Activity </label>
                            <input type="number" formControlName="CompanyMajorActivity_id" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Company Activity Division </label>
                            <input type="number" formControlName="CompanyActivityDivision_id" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Company Activity Division Class</label>
                            <input type="number" formControlName="CompanyActivityDivisionClass_id" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>  Company Activity Division Class Category </label>
                            <input type="number" formControlName="CompanyActivityDivisionClassCategory_id" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label>Business Nature Description</label>
                            <textarea name="name" rows="4" cols="40"
                            formControlName="BusinessNatureDescription" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Company Postal Address</label>
                            <input type="text" formControlName="CompanyPostalAddress" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Company Physical Address</label>
                            <input type="text" formControlName="CompanyPhysicalAddress" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Company Other Emails</label>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="text" class="form-control" formControlName="CompanyOtherEmails"> </div>
                        </div>
                        <div class="form-group">
                            <label>NSD Qualification Date</label>
                            <input type="datetime-local" class="form-control" formControlName="NSDQualificationDate">
                        </div>
                        <div class="form-group">
                            <label>NSD Qualification Year</label>
                            <!-- <input type="date" class="form-control" formControlName="NSDQualificationYear"> -->
                            <select formControlName="NSDQualificationYear" class="form-control">
                              <option *ngFor="let year of allYears">{{year}}</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label>Primary Contact Entity</label>
                            <input type="text" formControlName="PrimaryContactEntity" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Contact Entity Email</label>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="text" class="form-control" formControlName="ContactEntityEmail"> </div>
                        </div>
                        <div class="form-group">
                            <label>Contact Entity Telephone</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <input type="text" class="form-control" formControlName="ContactEntityTelephone"> </div>
                        </div>
                      </div>

                      <div class="col-md-3">

                        <div class="form-group">
                            <label>Contact Entity Mobile</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <input type="text" class="form-control" formControlName="ContactEntityMobile"> </div>
                        </div>
                        <div class="form-group">
                            <label>Contact Designation</label>
                            <input type="text" formControlName="ContactDesignation" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Operator Sort Order</label>
                            <input type="number" formControlName="OperatorSortOrder" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Contractor Sort Order</label>
                            <input type="number" formControlName="ContractorSortOrder" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>PAU Registration Date</label>
                            <input type="datetime-local" class="form-control" formControlName="PAURegistrationDate">
                        </div>
                        <div class="form-group">
                            <label>Crane NOGTRID</label>
                            <input type="text" formControlName="CraneNOGTRID" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Temp NOGTRIPwd</label>
                            <textarea rows="4" cols="40" formControlName="TempNOGTRIPwd" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Registration Status </label>
                            <input type="number" formControlName="RegistrationStatus_id" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Classify As Ugandan </label>
                            <input type="number" formControlName="ClassifyAsUgandan_id" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Primary Company Kind </label>
                            <input type="number" formControlName="PrimaryCompanyKind_id" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Secondary Company Kind </label>
                            <input type="number" formControlName="SecondaryCompanyKind_id" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Other Company Kind </label>
                            <input type="number" formControlName="OtherCompanyKind_id" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Company Group</label>
                            <input type="number" formControlName="CompanyGroup_id" class="form-control">
                        </div>
                      </div>

                      <div class="col-md-3">

                        <div class="form-group">
                            <label>Company Mobile</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <input type="text" class="form-control" formControlName="CompanyMobile"> </div>
                        </div>
                        <div class="form-group">
                            <label>Company Fax</label>
                            <input type="text" formControlName="CompanyFax" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Contact Entity Fax</label>
                            <input type="text" formControlName="ContactEntityFax" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>NSD From Date</label>
                            <input type="date" class="form-control" formControlName="NSD_FromDate">
                        </div>
                        <div class="form-group">
                            <label>NSD To Date</label>
                            <input type="date" class="form-control" formControlName="NSD_ToDate">
                        </div>
                        <div class="form-group">
                            <label>Imported From NSD</label>
                            <select class="form-control" formControlName="ImportedFromNSD">
                              <option>0</option>
                              <option>1</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label>Imported Date</label>
                            <input type="date" class="form-control" formControlName="ImportedDate">
                        </div>
                        <div class="form-group">
                            <label>Exported Date</label>
                            <input type="date" class="form-control" formControlName="ExportedDate">
                        </div>
                        <div class="form-group">
                            <label>Exported To Nogtr</label>
                            <select class="form-control" formControlName="ExportedToNogtr">
                              <option>0</option>
                              <option>1</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Record Change Stamp</label>
                            <input type="text" formControlName="RecordChangeStamp" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Previous Legal Name</label>
                            <input type="text" formControlName="PreviousLegalName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Comments</label>
                            <textarea name="name" rows="8" cols="80" formControlName="Comments" class="form-control"></textarea>
                        </div>
                      </div>
                  </div>

                  <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-4">
                                <input type="submit" value="update" class="btn btn-success">
                            <button (click)="navigateBack()" type="button" class="btn default">Back</button>
                        </div>
                    </div>
                </div>
              </form>

              <!-- END FORM-->
          </div>
      </div>

   </div>

    <!-- END CONTENT BODY -->
</div>
