
<div class="page-content-wrapper ">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">

      <!-- BEGIN PAGE BAR -->
      <div class="page-bar">
          <ul class="page-breadcrumb">
              <li>
                  <a [routerLink]="['/dashboard']">Dashboard</a>
                  <i class="fa fa-circle"></i>
              </li>
              <li>
                  <span>Core Types</span>
              </li>
          </ul>

      </div>
      <!-- END PAGE BAR -->
      <!-- BEGIN PAGE TITLE-->

      <!-- END PAGE TITLE-->

      <div class="clearfix"></div>
      <!-- END DASHBOARD STATS 1-->
      <div  class="portlet light bordered">

          <div *ngIf="status" class="portlet-body form">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption font-red-sunglo">
                                <i class="fa fa-cubes font-red-sunglo"></i>
                                <span class="caption-subject
                                bold uppercase">Core Types</span>
                            </div>
                            <!-- <div class="actions">
                                <div class="btn-group btn-group-devided" data-toggle="buttons">
                                    <label class="btn btn-transparent red btn-outline btn-circle btn-sm">
                                        <input type="radio" name="options" class="toggle" id="option2">Settings</label>
                                </div>
                            </div> -->
                        </div>
                        <div class="portlet-body">

                            <table datatable [dtOptions]="dtOptions"
                                             [dtTrigger]="dtTrigger"
                                             class="table table-striped
                                             table-hover table-bordered">
                               <thead>
                                   <tr>
                                       <th> ID </th>
                                       <th> Type Name </th>
                                       <th> Sort Order </th>
                                       <th> Comments </th>
                                       <th> Modified On </th>
                                       <th> Actions </th>
                                   </tr>
                               </thead>
                               <tbody *ngIf="posts?.length != 0">
                                   <tr *ngFor="let core of posts">
                                       <td> {{core.CoreType_id}} </td>
                                       <td> {{core.CoreTypeName}} </td>
                                       <td> {{core.SortOrder}} </td>
                                       <td> {{core.Comments}} </td>
                                       <td> {{core.ModifiedOn}} </td>
                                       <td><button type="button" class="btn blue btn-outline"
                                         (click)="onSelectEdit(core)">
                                         <i class="fa fa-edit"></i></button>
                                       <button type="button" class="btn red btn-outline"
                                         (click)="onSelect(core)">
                                         <i class="fa fa-trash-o"></i></button></td>
                                   </tr>

                               </tbody>
                               <tbody *ngIf="posts?.length == 0">
                                 <td>No Data!</td>
                               </tbody>

                           </table>

                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
          </div>


          <div *ngIf="editform" class="portlet_body form">
              <!-- BEGIN FORM-->
              <form class="form-horizontal" [formGroup]="formGroup"
                  (ngSubmit)="updateCoreTypeProcess()" ngNativeValidate>
                  <div class="form-body">

                      <div class="form-group">
                          <label>Core Type Name<span class="red asterisk-validate ml-2">*</span></label>
                          <input type="text" formControlName="CoreTypeName" class="form-control">
                      </div>
                      <div class="form-group">
                          <label>Sort Order</label>
                          <input type="number" formControlName="SortOrder" class="form-control">
                      </div>

                      <div class="form-group">
                          <label>Comments</label>
                          <textarea name="name" formControlName="Comments" rows="8" cols="80"
                          class="form-control"></textarea>
                      </div>
                  </div>

                  <div class="form-actions">
                      <div class="row">
                          <div class="col-md-offset-3 col-md-4">
                          <input type="submit" value="Update" class="btn
                              btn-success">
                          <button (click)="navigateBack()" type="button" class="btn
                              default">Back</button>
                          </div>
                      </div>
                  </div>
              </form>
              <!-- END FORM-->
          </div>



      </div>

   </div>

    <!-- END CONTENT BODY -->
</div>
