<div class="page-content-wrapper ">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
      <div class="container">
      <!-- BEGIN PAGE TITLE-->
      <h3>Catalog Security Levels</h3>
      <!-- END PAGE TITLE-->
      </div>
      <!-- END PAGE HEADER-->
      <div class="row">
          <div class="col-md-12">
              <!-- BEGIN EXAMPLE TABLE PORTLET-->
              <div class="portlet light portlet-fit bordered">
                  <div class="portlet-title">
                      <div class="caption">
                          <i class="icon-settings font-red"></i>
                      </div>
                      <div class="actions">
                          <div class="btn-group btn-group-devided" data-toggle="buttons">
                              <label class="btn btn-transparent red btn-outline btn-circle btn-sm active">
                                  <input type="radio" name="options" class="toggle" id="option1">Actions</label>
                              <label class="btn btn-transparent red btn-outline btn-circle btn-sm">
                                  <input type="radio" name="options" class="toggle" id="option2">Settings</label>
                          </div>
                      </div>
                  </div>
                  <div class="portlet-body">
                      <div class="table-toolbar">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="btn-group">
                                      <button id="sample_editable_1_new" class="btn green"> Add New
                                          <i class="fa fa-plus"></i>
                                      </button>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="btn-group pull-right">
                                      <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                          <i class="fa fa-angle-down"></i>
                                      </button>
                                      <ul class="dropdown-menu pull-right">
                                          <li>
                                              <a href="javascript:;"> Print </a>
                                          </li>
                                          <li>
                                              <a href="javascript:;"> Save as PDF </a>
                                          </li>
                                          <li>
                                              <a href="javascript:;"> Export to Excel </a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                          <thead>
                              <tr>
                                  <th>  Catalog Security Flag ID </th>
                                  <th>  Catalog Security Flag Name </th>
                                  <th>  SortOrder </th>
                                  <th>  Comments </th>
                                  <th>  Modified On </th>
                                  <th>  Modified By </th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let catalog of catalogSecurityFlagList">
                                  <td> catalog.CatalogSecurityFlag_id </td>
                                  <td> catalog.CatalogSecurityFlagName </td>
                                  <td> catalog.SortOrder </td>
                                  <td> catalog.Comments </td>
                                  <td> catalog.ModifiedOn </td>
                                  <td> catalog.ModifiedBy </td>
                                  <td>
                                      <a class="edit" href="javascript:;"> Edit </a>
                                  </td>
                                  <td>
                                      <a class="delete" href="javascript:;"> Delete </a>
                                  </td>
                              </tr>

                          </tbody>
                      </table>
                  </div>
              </div>
              <!-- END EXAMPLE TABLE PORTLET-->
          </div>
      </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
