<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        <div class="theme-panel hidden-xs hidden-sm">
            <div class="toggler"> </div>
            <div class="toggler-close"> </div>
            <div class="theme-options">
                <div class="theme-option theme-colors clearfix">
                    <span> THEME COLOR </span>
                    <ul>
                        <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="Default"> </li>
                        <li class="color-darkblue tooltips" data-style="darkblue" data-container="body" data-original-title="Dark Blue"> </li>
                        <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="Blue"> </li>
                        <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="Grey"> </li>
                        <li class="color-light tooltips" data-style="light" data-container="body" data-original-title="Light"> </li>
                        <li class="color-light2 tooltips" data-style="light2" data-container="body" data-html="true" data-original-title="Light 2"> </li>
                    </ul>
                </div>
                <div class="theme-option">
                    <span> Theme Style </span>
                    <select class="layout-style-option form-control input-sm">
                        <option value="square" selected="selected">Square corners</option>
                        <option value="rounded">Rounded corners</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Layout </span>
                    <select class="layout-option form-control input-sm">
                        <option value="fluid" selected="selected">Fluid</option>
                        <option value="boxed">Boxed</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Header </span>
                    <select class="page-header-option form-control input-sm">
                        <option value="fixed" selected="selected">Fixed</option>
                        <option value="default">Default</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Top Menu Dropdown</span>
                    <select class="page-header-top-dropdown-style-option form-control input-sm">
                        <option value="light" selected="selected">Light</option>
                        <option value="dark">Dark</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Sidebar Mode</span>
                    <select class="sidebar-option form-control input-sm">
                        <option value="fixed">Fixed</option>
                        <option value="default" selected="selected">Default</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Sidebar Menu </span>
                    <select class="sidebar-menu-option form-control input-sm">
                        <option value="accordion" selected="selected">Accordion</option>
                        <option value="hover">Hover</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Sidebar Style </span>
                    <select class="sidebar-style-option form-control input-sm">
                        <option value="default" selected="selected">Default</option>
                        <option value="light">Light</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Sidebar Position </span>
                    <select class="sidebar-pos-option form-control input-sm">
                        <option value="left" selected="selected">Left</option>
                        <option value="right">Right</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> Footer </span>
                    <select class="page-footer-option form-control input-sm">
                        <option value="fixed">Fixed</option>
                        <option value="default" selected="selected">Default</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- END THEME PANEL -->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Form Stuff</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <div class="btn-group pull-right">
                    <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="#">
                                <i class="icon-bell"></i> Action</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-shield"></i> Another action</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-user"></i> Something else here</a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="#">
                                <i class="icon-bag"></i> Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h1 class="page-title"> Form X-editable
            <small>form x-editable samples</small>
        </h1>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="m-heading-1 border-green m-bordered">
            <h3>X-editable</h3>
            <p> This library allows you to create editable elements on your page. It can be used with any engine (bootstrap, jquery-ui, jquery only) and includes both popup and inline modes. Please try out demo to see how it works. </p>
            <p>
            For more info please check out
                <a class="btn red btn-outline" href="https://vitalets.github.io/x-editable/docs.html" target="_blank">the official documentation</a>
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mt-checkbox-inline">
                    <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" id="autoopen">&nbsp;Auto-open next field
                        <span></span>
                    </label>
                    <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" id="inline">&nbsp;Inline editing
                        <span></span>
                    </label>
                    <button id="enable" class="btn green">Enable / Disable</button>
                </div>
            </div>
        </div>
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Editable Form</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                            <input type="radio" name="options" class="toggle" id="option1">Actions</label>
                        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Settings</label>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="user" class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td style="width:15%"> Username </td>
                                    <td style="width:50%">
                                        <a href="javascript:;" id="username" data-type="text" data-pk="1" data-original-title="Enter username"> superuser </a>
                                    </td>
                                    <td style="width:35%">
                                        <span class="text-muted"> Simple text field </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td> First name </td>
                                    <td>
                                        <a href="javascript:;" id="firstname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-original-title="Enter your firstname"> </a>
                                    </td>
                                    <td>
                                        <span class="text-muted"> Required text field, originally empty </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Sex </td>
                                    <td>
                                        <a href="javascript:;" id="sex" data-type="select" data-pk="1" data-value="" data-original-title="Select sex"> </a>
                                    </td>
                                    <td>
                                        <span class="text-muted"> Select, loaded from js array. Custom display </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Group </td>
                                    <td>
                                        <a href="javascript:;" id="group" data-type="select" data-pk="1" data-value="5" data-source="/groups" data-original-title="Select group"> Admin </a>
                                    </td>
                                    <td>
                                        <span class="text-muted"> Select, loaded from server.
                                            <strong>No buttons</strong> mode </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Status </td>
                                    <td>
                                        <a href="javascript:;" id="status" data-type="select" data-pk="1" data-value="0" data-source="/status" data-original-title="Select status"> Active </a>
                                    </td>
                                    <td>
                                        <span class="text-muted"> Error when loading list items </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Plan vacation? </td>
                                    <td>
                                        <a href="javascript:;" id="vacation" data-type="date" data-viewformat="dd.mm.yyyy" data-pk="1" data-placement="right" data-original-title="When you want vacation to start?"> 25.02.2013 </a>
                                    </td>
                                    <td>
                                        <span class="text-muted"> Datepicker </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Date of birth </td>
                                    <td>
                                        <a href="javascript:;" id="dob" data-type="combodate" data-value="1984-05-15" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1" data-original-title="Select Date of birth">
                                        </a>
                                    </td>
                                    <td>
                                        <span class="text-muted"> Date field (combodate) </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Setup event </td>
                                    <td>
                                        <a href="javascript:;" id="event" data-type="combodate" data-template="D MMM YYYY HH:mm" data-format="YYYY-MM-DD HH:mm" data-viewformat="MMM D, YYYY, HH:mm" data-pk="1" data-original-title="Setup event date and time">
                                        </a>
                                    </td>
                                    <td>
                                        <span class="text-muted"> Datetime field (combodate) </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Meeting start </td>
                                    <td>
                                        <a href="javascript:;" id="meeting_start" data-type="datetime" data-pk="1" data-url="/post" data-placement="right" title="Set date & time"> 15/03/2013 12:45 </a>
                                    </td>
                                    <td>
                                        <span class="text-muted"> Bootstrap datetime </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Comments </td>
                                    <td>
                                        <a href="javascript:;" id="comments" data-type="textarea" data-pk="1" data-placeholder="Your comments here..." data-original-title="Enter comments">awesome
                                            <br> user!</a>
                                    </td>
                                    <td>
                                        <span class="text-muted"> Textarea. Buttons below. Submit by
                                            <i>ctrl+enter</i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Type State </td>
                                    <td>
                                        <a href="javascript:;" id="state" data-type="typeahead" data-pk="1" data-placement="right" data-original-title="Start typing State.."> </a>
                                    </td>
                                    <td>
                                        <span class="text-muted"> Bootstrap 2.x typeahead </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Fresh fruits </td>
                                    <td>
                                        <a href="javascript:;" id="fruits" data-type="checklist" data-value="2,3" data-original-title="Select fruits"> </a>
                                    </td>
                                    <td>
                                        <span class="text-muted"> Checklist </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Tags </td>
                                    <td>
                                        <a href="javascript:;" id="tags" data-type="select2" data-pk="1" data-original-title="Enter tags"> html, javascript </a>
                                    </td>
                                    <td>
                                        <span class="text-muted"> Select2 (tags mode) </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Country </td>
                                    <td>
                                        <a href="javascript:;" id="country" data-type="select2" data-pk="1" data-value="BS" data-original-title="Select country"> </a>
                                    </td>
                                    <td>
                                        <span class="text-muted"> Select2 (dropdown mode) </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Address </td>
                                    <td>
                                        <a href="javascript:;" id="address" data-type="address" data-pk="1" data-original-title="Please, fill address"> </a>
                                    </td>
                                    <td>
                                        <span class="text-muted"> Your custom input, several fields </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Notes </td>
                                    <td>
                                        <div id="note" data-pk="1" data-type="wysihtml5" data-toggle="manual" data-original-title="Enter notes">
                                            <h3>WYSIWYG</h3> WYSIWYG means
                                            <i>What You See Is What You Get</i>.
                                            <br> But may also refer to:
                                            <ul>
                                                <li> WYSIWYG (album), a 2000 album by Chumbawamba </li>
                                                <li> "Whatcha See is Whatcha Get", a 1971 song by The Dramatics </li>
                                                <li> WYSIWYG Film Festival, an annual Christian film festival </li>
                                            </ul>
                                            <i>Source:</i>
                                            <a href="http://en.wikipedia.org/wiki/WYSIWYG_%28disambiguation%29"> wikipedia.org </a>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="javascript:;" id="pencil">
                                            <i class="fa fa-pencil"></i> [edit] </a>
                                        <br>
                                        <span class="text-muted"> Wysihtml5 (bootstrap only).
                                            <br> Toggle by another element </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Console
                            <small>(all ajax requests here are emulated)</small>
                        </h3>
                        <div>
                            <textarea id="console" rows="8" style="width: 70%" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
