<div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
    
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <!-- <ul class="page-breadcrumb">
                    <li>
                        <a [routerLink]="['/dashboard']">Dashboard</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>Users</span>
                    </li>
                </ul> -->
                <!-- <div class="page-toolbar">
                    <div id="dashboard-report-range" class="pull-right
                        tooltips btn btn-sm" data-container="body"
                        data-placement="bottom"
                        data-original-title="Change dashboard date
                        range">
                        <i class="icon-calendar"></i>&nbsp;
                        <span class="thin uppercase hidden-xs"></span>&nbsp;
                        <i class="fa fa-angle-down"></i>
                    </div>
                </div> -->
            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
    
            <!-- END PAGE TITLE-->
    
            <div class="clearfix"></div>
            <!-- END DASHBOARD STATS 1-->
            <div class="portlet light bordered">
    
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div *ngIf="editForm" class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-red-sunglo">
                                        <i class="icon-user
                                        font-red-sunglo"></i>
                                        <span class="caption-subject
                                            bold uppercase">Deactivated User Accounts</span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
    
                                    <table datatable
                                        [dtOptions]="dtOptions"
                                        [dtTrigger]="dtTrigger"
                                        class="table table-striped
                                        table-bordered table-hover"
                                        id="sample_1">
                                        <thead>
                                            <tr>
                                                <th>User ID</th>
                                                <th>FirstName</th>
                                                <th>Surname</th>
                                                <th>LUID</th>
                                                <th>Organisation</th>
                                                <th>Email</th>
                                                <th>Action</th>
    
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let post of users">
                                                <td>{{post.CraneUserId}}</td>
                                                <td>{{post.FirstName}}</td>
                                                <td>{{post.Surname}}</td>
                                                <td>{{post.LUID}}</td>
                                                <td>{{post.OrganisationName}}</td>
                                                <td>{{post.UserEmailAddress}}</td>
                                                <td>
                                                   <button type="button" (click)="onSelect(post)" class="btn blue btn-sm">Activate</button>
                                                    <span></span> 
                                                    <a class="btn purple btn-sm" (click)="More(post)"
                                                    data-toggle="modal" href="#large"> More </a>
                                                  
                                                    </td>
                                                <!-- <td><button type="button" class="btn blue btn-outline">
                                                      <i class="fa fa-angle-double-right"></i></button>
                                                    <button type="button" class="btn red btn-outline">
                                                      <i class="fa fa-trash-o"></i></button></td> -->
                                            </tr>
    
    
                                        </tbody>
                                    </table>
                                </div>
                            </div>
    
                            <div *ngIf="formDetails" class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings
                                            font-dark"></i>
                                        <span class="caption-subject
                                            bold uppercase">User Details</span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <!-- <div class="portlet-body">
    
                                    <div  *ngFor="let user of users" class="row">
                                        <div class="col-lg-4">
                                            <div class="portlet light portlet-fit
                                                bordered">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">User Id</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                           {{user.CraneUserId}} </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">First Name</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                            {{user.FirstName}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">Middle Name</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                           {{user.MiddleName}} </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">Surname</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                            {{user.Surname}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">LUID</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                           {{user.LUID}} </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">Crane User Name</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                            {{user.CraneUserName}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">Login ID</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                           {{user.LoginID}} </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">Login ID Alias</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                            {{user.LoginIDAlias}}
                                                        </div>
                                                    </div>
                                                </div>
    
    
    
                                                <div class="portlet-title">
                                                        <div class="caption">
                                                            <i class="icon-layers
                                                                font-green"></i>
                                                            <span class="caption-subject
                                                                font-green bold
                                                                uppercase">User Intranet SecurityLevel Id</span>
                                                            <div class="caption-desc
                                                                font-grey-cascade">
                                                                {{user.UserIntranetSecurityLevelId}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <i class="icon-layers
                                                                font-green"></i>
                                                            <span class="caption-subject
                                                                font-green bold
                                                                uppercase">User Nsd Web SecurityLevel Id</span>
                                                            <div class="caption-desc
                                                                font-grey-cascade">
                                                               {{user.UserNsdWebSecurityLevelId}} </div>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <i class="icon-layers
                                                                font-green"></i>
                                                            <span class="caption-subject
                                                                font-green bold
                                                                uppercase">Login Error Count</span>
                                                            <div class="caption-desc
                                                                font-grey-cascade">
                                                                {{user.LoginErrorCount}}
                                                            </div>
                                                        </div>
                                                    </div>
    
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="portlet light portlet-fit
                                                bordered">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">UserCategory</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                            {{user.UserCategory}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">User Company id</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                            {{user.UserCompanyId}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">To Do List</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                            Default list element
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">To Do List</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                            Default list element
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">User Id</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                           {{user.Id}} </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">User Prems User Id</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                            {{user.UserPremsUserId}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">User Staff Id</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                           {{user.UserStaffId}} </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">Organisation Name</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                            {{user.OrganisationName}} 
                                                        </div>
                                                    </div>
                                                </div>
    
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="portlet light portlet-fit
                                                bordered">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">Login Status Id</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                            {{user.LoginStatusId}} 
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">User Email Address</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                            {{user.UserEmailAddress}}
                                                        </div>
                                                    </div>
                                                </div>
    
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">User Security Level Id</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                           {{user.UserSecurityLevelId}} </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">User Web SecurityLevel Id</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                            {{user.UserWebSecurityLevelId}} 
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">User Nogtr WebSecurity Level Id</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                           {{user.UserNogtrWebSecurityLevelId}} </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">User Prems WebSecurity Level Id</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                           {{user.UserPremsWebSecurityLevelId}}
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">Last Seen</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                            {{user.LastSeen}} 
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">Activation Change Date</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                            {{user.ActivationChangeDate}} 
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers
                                                            font-green"></i>
                                                        <span class="caption-subject
                                                            font-green bold
                                                            uppercase">OrganisationUserName</span>
                                                        <div class="caption-desc
                                                            font-grey-cascade">
                                                            {{user.	OrganisationUserName}} 
                                                        </div>
                                                    </div>
                                                </div>
    
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                           
                                <form [formGroup]="formGroup"
                                (ngSubmit)="addUserProcess()" ngNativeValidate>
                                    <div class="form-body row">
                                        <div class="col-md-3">
                
                                            <div class="form-group">
                                               
                                                <label>First Name</label>                                          
                                                <span class="error">*</span>
                                                <input required formControlName="FirstName"
                                                    type="text" class="form-control"
                                                    placeholder="">
                                                    
                                            </div>
                                            <div class="form-group">
                                                <label>MiddleName</label>
                                                <input formControlName="MiddleName"
                                                    type="text" class="form-control"
                                                    placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label>Surname</label>
                                                <span class="error">*</span>
                                                <input required formControlName="Surname"
                                                    type="text" class="form-control"
                                                    placeholder="">
                                                  
                                            </div>
                                            <div class="form-group">
                                                <label>LUID</label>
                                                <input formControlName="LUID"
                                                    type="number" class="form-control"
                                                    placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label>Crane User Name</label>
                                                <span class="error">*</span>
                                                <input
                                                required formControlName="CraneUserName"
                                                    type="text" class="form-control"
                                                    placeholder="">
                                                   
                                            </div>
                                            <div class="form-group">
                                                    <label>Login ID</label>
                                                    <input formControlName="LoginID"
                                                        type="text" class="form-control"
                                                        placeholder="">
                                                </div>
                                        </div> 
                                        <div class="col-md-3">
                                       
                                            <div class="form-group">
                                                <label>Login ID Alias</label>
                                                <input
                                                    formControlName="LoginIDAlias"
                                                    type="text" class="form-control"
                                                    placeholder="">
                                            </div>
                
                                            <div class="form-group">
                                                    <label>User Category</label>
                                                    <span class="error">*</span>
                                                    <select class="form-control"  required formControlName="UserCategory">
                                                            <option *ngFor="let role of Roles" [ngValue]="role"
                                                                (change)="changeRoles($event)">{{role}}
                                                            </option>
                                                            </select>    
                                                                                                       
                                                </div>
                
                                        <div class="form-group">
                                            <label>User CompanyId</label>
                                            <input
                                                formControlName="UserCompanyId"
                                                type="number" class="form-control"
                                                placeholder="">
                                        </div>
                
                                        <div class="form-group">
                                                <label>User Prems UserId</label>
                                                <input
                                                    formControlName="UserPremsUserId"
                                                    type="number" class="form-control"
                                                    placeholder="">
                                            </div>
                
                                            <div class="form-group">
                                                    <label>User Staff Id</label>
                                                    <span class="error">*</span>
                                                    <input
                                                    required formControlName="UserStaffId"
                                                        type="number" class="form-control"
                                                        placeholder="">
                                                        
                                                </div>
                
                                                <div class="form-group">
                                                        <label>Organisation Name</label>
                                                        <span class="error">*</span>
                                                        <input
                                                        required formControlName="OrganisationName"
                                                            type="text" class="form-control"
                                                            placeholder="">
                                                            
                                                    </div>
                                           
                                        </div>   
                                        <div class="col-md-3">
                
                                            <div class="form-group">
                
                                                <label>User Email Address</label>
                                                
                                                <span class="error">*</span>
                                                <input
                                                required formControlName="UserEmailAddress"
                                                    type="text" class="form-control"
                                                    placeholder="">
                                                 
                                            </div>
                                            <div class="form-group">
                                                <label>User Security Level Id</label>
                                                <input
                                                    formControlName="UserSecurityLevelId"
                                                    type="number" class="form-control"
                                                    placeholder="">                                                
                                                   
                                            </div>
                                            <div class="form-group">
                                                <label>User Web Security LevelId</label>
                                                <span class="error">*</span>
                                                <select class="custom-select"
                                                required formControlName="UserWebSecurityLevelId"
                                                    name="UserWebSecurityLevelId"
                                                    class="form-control">
                                                    <option *ngFor="let city of securityIds"
                                                    [ngValue]="city.WebSecurityLevelId"
                                                    (change)="changeSecurity($event)">{{city.WebSecurityLevelId}}-->{{city.WebSecurityLevelName}}
                                                    </option>
                                                </select>
                                                
                
                                            </div>
                
                                             <div class="form-group">
                                                    <label> Nogtr Web Security Level
                                                        Id:</label>
                                                    <input
                                                        formControlName="UserNogtrWebSecurityLevelId"
                                                        type="number" class="form-control"
                                                        placeholder="">
                                                </div>
                
                                            <div class="form-group">
                                                <label> Prems Web Security Level
                                                    Id</label>
                                                <input
                                                    formControlName="UserPremsWebSecurityLevelId"
                                                    type="number" class="form-control"
                                                    placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label>Intranet Security Level
                                                    Id</label>
                                                <input
                                                    formControlName="UserIntranetSecurityLevelId"
                                                    type="number" class="form-control"
                                                    placeholder="">
                                            </div>
                                         
                                        </div>  
                
                                        <div class="col-md-3">
                                           
                                            <div class="form-group">
                                                <label>User Nsd Web Security Level
                                                    Id</label>
                                                <input
                                                    formControlName="UserNsdWebSecurityLevelId"
                                                    type="number" class="form-control"
                                                    placeholder="">
                                            </div>
                                          
                                            <div class="form-group">
                                                <label>Organisation User Name</label>
                                                <input
                                                    formControlName="OrganisationUserName"
                                                    type="text" class="form-control"
                                                    placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label>New Password</label>
                                                <span class="error">*</span>
                                                <input
                                                required formControlName="DefaultPassword"
                                                    type="password" class="form-control"
                                                    placeholder="">
                                                   
                                            </div>
                
                                            <div class="form-group">
                                                    <label>Comments</label>
                                                    <textarea name="name" rows="4" cols="40" formControlName="Comments" class="form-control" placeholder=""></textarea>
                
                                                </div>
                
                                        </div>
                                    </div>
                
                                    <div class="form-actions">
                                        <button type="submit" class="btn blue">update</button>
                                        <button type="button" (click)="back()" class="btn default">Back</button>
                                    </div>
                                </form>
                            </div>
    
                            <div *ngIf="details" class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                <div class="caption font-red-sunglo">
                                                        <i class="icon-user
                                                        font-red-sunglo">&nbsp;</i>
                                                        <span class="caption-subject
                                                            bold uppercase">Users: </span>&nbsp;
                                                            <span class="caption-subject
                                                            bold uppercase">{{  listuser.FirstName}}</span>
                                                    </div>
        
                                                <!-- <h4 class="modal-title">{{ data.StratLithoName }}</h4> -->
                                                <!-- <button type="button" data-dismiss="modal" class="btn blue" (click)="onSelectEdit(data)">Edit</button> -->
                                            </div>
                                            <div class="modal-body">
                                              <table datatable
                                              [dtOptions]="dtOptions"
                                              [dtTrigger]="dtTrigger"
                                              class="table table-striped
                                              table-bordered table-hover" >
                                                  <tbody>
                                                    
        
                                                    <tr>
                                                        <th style="width:25%"> First Name</th>
                                                        <td style="width:25%">{{listuser.FirstName}} </td>
                                                        <th style="width:25%"> Middle Name </th>
                                                        <td style="width:25%"> {{listuser.MiddleName}}</td>
                
                                                    </tr>
        
                                                    <tr>
                                                            <th style="width:25%"> Surname</th>
                                                            <td style="width:25%">{{listuser.Surname}} </td>
                                                            <th style="width:25%"> LUID </th>
                                                            <td style="width:25%"> {{listuser.LUID}}</td>
                    
                                                     </tr>
        
                                                     <tr>
                                                            <th style="width:25%">  Crane User Name</th>
                                                            <td style="width:25%">{{listuser.CraneUserName}} </td>
                                                            <th style="width:25%"> Login ID</th>
                                                            <td style="width:25%"> {{listuser.LoginID}}</td>
                    
                                                     </tr>
        
                                                     <tr>
                                                            <th style="width:25%">Login ID Alias</th>
                                                            <td style="width:25%">{{listuser.LoginIDAlias}} </td>
                                                            <th style="width:25%"> User Category </th>
                                                            <td style="width:25%"> {{listuser.UserCategory}}</td>
                    
                                                     </tr>
                                                   <tr>
                                                            <th style="width:25%">  User CompanyId </th>
                                                            <td style="width:25%">{{listuser.UserCompanyId}} </td>
                                                            <th style="width:25%"> User Prems User Id </th>
                                                            <td style="width:25%"> {{listuser.UserPremsUserId}}</td>
                    
                                                     </tr>
        
                                                    <tr>
                                                             <th style="width:25%"> User Staff Id</th>
                                                             <td style="width:25%">{{listuser.UserStaffId}} </td>
                                                             <th style="width:25%"> Organisation Name </th>
                                                             <td style="width:25%"> {{listuser.OrganisationName}}</td>
                     
                                                    </tr>
                                                    <tr>
                                                      <th style="width:25%">  User Email Address</th>
                                                      <td style="width:25%">{{listuser.UserEmailAddress}} </td>
                                                      <th style="width:25%"> User Security Level Id</th>
                                                      <td style="width:25%"> {{listuser.UserSecurityLevelId}}</td>
              
                                                      </tr>
                                                      <tr>
                                                            <th style="width:25%">  User WebSecurity Level Id</th>
                                                            <td style="width:25%">{{listuser.UserWebSecurityLevelId}} </td>
                                                            <th style="width:25%"> User Nogtr WebSecurity Level Id</th>
                                                            <td style="width:25%"> {{listuser.UserNogtrWebSecurityLevelId}}</td>
                    
                                                    </tr>
                                                    <tr>
                                                            <th style="width:25%"> User Prems WebSecurity Level Id</th>
                                                            <td style="width:25%">{{listuser.UserPremsWebSecurityLevelId}} </td>
                                                            <th style="width:25%"> User Intranet Security Level Id</th>
                                                            <td style="width:25%"> {{listuser.UserIntranetSecurityLevelId}}</td>
                    
                                                        </tr>
                                                    <tr>
                                                            <th style="width:25%"> User Nsd WebSecurity Level Id</th>
                                                            <td style="width:25%">{{listuser.UserNsdWebSecurityLevelId}} </td>
                                                            <th style="width:25%"> Comments</th>
                                                            <td style="width:25%"> {{listuser.Comments}}</td>
                    
                                                        </tr>
                                                        <tr>
                                                                <th style="width:25%"> Organisation User Name</th>
                                                                <td style="width:25%">{{listuser.OrganisationUserName}} </td>
                                                                <th style="width:25%"> Default Password</th>
                                                                <td style="width:25%"> NA</td>
                        
                                                            </tr>    
                                               
                                                    
                                                   </tbody>
                                               </table>
                                               <div class="clearfix"></div>
                                               <button (click)="onEdit(listuser)" data-dismiss="modal"   class="btn blue">Edit</button>
        
                                           </div>
                                           <!-- <div class="modal-footer">
                                               <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                                               <button type="button" class="btn green">Save changes</button>
                                           </div> -->
                                           <!-- /.modal-content -->
                                       </div>
                      
                                       <!-- /.modal-dialog -->
                                   </div>
                                </div>   
    
    
                            <!-- END EXAMPLE TABLE PORTLET-->
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
    
                    <!-- END FORM-->
                </div>
            </div>
    
            <!-- </div> -->
            <!-- END CONTENT BODY -->
        </div>
    