

<div class="page-content-wrapper ">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">

      <!-- BEGIN PAGE BAR -->
      <div class="page-bar">
          <ul class="page-breadcrumb">
              <li>
                  <a [routerLink]="['/dashboard']">Dashboard</a>
                  <i class="fa fa-circle"></i>
              </li>
              <li>
                  <span>Strat Litho Units</span>
              </li>
          </ul>
          <!-- <div class="page-toolbar">
              <div id="dashboard-report-range" class="pull-right
                  tooltips btn btn-sm" data-container="body"
                  data-placement="bottom"
                  data-original-title="Change dashboard date
                  range">
                  <i class="icon-calendar"></i>&nbsp;
                  <span class="thin uppercase hidden-xs"></span>&nbsp;
                  <i class="fa fa-angle-down"></i>
              </div>
          </div> -->
      </div>
      <!-- END PAGE BAR -->
      <!-- BEGIN PAGE TITLE-->

      <!-- END PAGE TITLE-->

      <div class="clearfix"></div>
      <!-- END DASHBOARD STATS 1-->
      <div  class="portlet light bordered">

          <div *ngIf="status" class="portlet-body form">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-red"></i>
                                <span class="caption-subject
                                bold uppercase">Strat Litho Units</span>
                            </div>
                            <!-- <div class="actions">
                                <div class="btn-group btn-group-devided" data-toggle="buttons">
                                    <label class="btn btn-transparent red btn-outline btn-circle btn-sm">
                                        <input type="radio" name="options" class="toggle" id="option2">Settings</label>
                                </div>
                            </div> -->
                        </div>
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- <div class="btn-group">
                                            <button id="sample_editable_1_new" class="btn green"> Add New
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div> -->
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <div class="btn-group pull-right">
                                            <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a href="javascript:;"> Print </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> Save as PDF </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> Export to Excel </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <table datatable [dtOptions]="dtOptions"
                                             [dtTrigger]="dtTrigger"
                                             class="table table-striped
                                             table-hover table-bordered"
                                             id="sample_1">
                               <thead>
                                   <tr>
                                       <th> ID </th>
                                       <th> PAUID </th>
                                       <th> Name </th>
                                       <th> Reservior Unit </th>
                                       <!-- <th> Litho Strat Alias </th> -->
                                       <th> Date Created </th>
                                       <th> Modified On </th>
                                       <!-- <th> Modified By </th> -->
                                       <th>Actions</th>
                                   </tr>
                               </thead>
                               <tbody>
                                 <!-- <tr> -->
                                   <tr *ngFor="let strat of posts">
                                       <td> {{ strat.StratLitho_id }} </td>
                                       <td> {{ strat.PAUID }} </td>
                                       <td> {{ strat.StratLithoName }} </td>
                                       <td> {{ strat.ReserviorUnit }} </td>
                                       <!-- <td> {{ strat.LithoStratAlias }} </td> -->
                                       <td> {{ strat.DateCreated }} </td>
                                       <td> {{ strat.ModifiedOn }} </td>
                                       <!-- <td> {{ strat.ModifiedBy }} </td> -->

                                       <td><button type="button" (click)="onSelectEdit(strat)"
                                         class="btn blue btn-outline">
                                         <i class="fa fa-angle-double-right"></i></button>
                                       <button type="button" class="btn red btn-outline"
                                       (click)="onSelect(strat)"><i class="fa fa-trash-o"></i></button></td>
                                   </tr>

                               </tbody>
                           </table>

                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
          </div>


          <div *ngIf="editform" class="portlet-body form">
              <!-- BEGIN FORM-->
              <form class="form-horizontal" [formGroup]="formGroup"
                  (ngSubmit)="updateStratLithoProcess()" ngNativeValidate>
                  <div class="form-body row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>PAUID<span class="red asterisk-validate ml-2">*</span></label>
                            <input type="text" formControlName="PAUID" class="form-control" placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label>Strat Litho Name<span class="red asterisk-validate ml-2">*</span></label>
                            <input type="text" formControlName="StratLithoName" class="form-control" placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label>Litho Strat Alias</label>
                            <input type="text" formControlName="LithoStratAlias" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Is Reservoir Unit ID</label>
                            <input type="text" formControlName="IsReservoirUnit_id" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Litho Strat Age ID</label>
                            <input type="text" formControlName="LithoStratAge_id" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Litho Strat Description Softcopy Path</label>
                            <input type="text" formControlName="LithoStratDescriptionSoftcopyPath" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Litho Strat Description Hyperlink</label>
                            <input type="text" formControlName="LithoStratDescriptionHyperlink" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Litho Strat Map Softcopy Path</label>
                            <input type="text" formControlName="LithoStratMapSoftcopyPath" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Litho Strat Map Hyperlink</label>
                            <input type="text" formControlName="LithoStratMapHyperlink" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Map Portal Litho Strat MapLink</label>
                            <input type="text" formControlName="MapPortalLithoStratMapLink" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Litho Strat Fact site Url</label>
                            <input type="text" formControlName="LithoStratFactsiteUrl" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Comments</label>
                            <textarea name="name" formControlName="Comments" rows="8" cols="80" class="form-control" placeholder=""></textarea>
                        </div>

                    </div>
                  </div>

                  <div class="form-actions">
                      <div class="row">
                          <div class="col-md-offset-3 col-md-4">
                              <input type="submit" value="update" class="btn
                                  btn-success">
                              <button (click)="navigateBack()" type="button" class="btn
                                  default">Back</button>
                          </div>
                      </div>
                  </div>
              </form>
              <!-- END FORM-->
          </div>
      </div>

   </div>

    <!-- END CONTENT BODY -->
</div>
