<div class="page-content-wrapper">

    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
      <!-- BEGIN PAGE BAR -->
      <div class="page-bar">
          <ul class="page-breadcrumb">
              <li>
                  <a routerLink="dashboard">Dashboard</a>
                  <i class="fa fa-circle"></i>
              </li>
              <li>
                  <span>add catalog security</span>
              </li>
          </ul>

      </div>
      <!-- END PAGE BAR -->
      <!-- BEGIN PAGE TITLE-->

      <!-- END PAGE TITLE-->

      <div class="clearfix"></div>

      <!-- BEGIN SAMPLE FORM PORTLET-->
      <div class="portlet light bordered">
          <div class="portlet-title">
              <div class="caption font-red-sunglo">
                  <i class="icon-settings font-red-sunglo"></i>
                  <span class="caption-subject bold uppercase"> Catalog Security</span>
              </div>

          </div>
          <div class="portlet-body form">
            <!-- <form > -->
              <form [formGroup]="formGroup" class="form-horizontal"
              (ngSubmit)="addCatalogSecurity()" ngNativeValidate>
                  <div class="form-body">

                      <div class="form-group">
                          <label class="col-md-3 control-label">Catalog Security Flag Name
                            <span class="red asterisk-validate ml-2">*</span></label>
                          <div class="col-md-4">
                            <input type="text" required formControlName="CatalogSecurityFlagName"
                            class="form-control" placeholder=""></div>
                      </div>
                      <div class="form-group">
                          <label class="col-md-3 control-label">Sort Order</label>
                          <div class="col-md-4">
                            <input type="number" formControlName="SortOrder" class="form-control"></div>
                      </div>

                      <div class="form-group">
                          <label class="col-md-3 control-label">Comments</label>
                          <div class="col-md-4">
                            <textarea name="name" rows="8" cols="80" formControlName="Comments"
                            class="form-control"></textarea></div>
                      </div>

                      <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-4">
                              <button type="submit" class="btn blue">Submit</button>
                              <button type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
      <!-- END SAMPLE FORM PORTLET-->

    </div>
    <!-- END CONTENT BODY -->


</div>
