/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css" */

.dropdown:hover .dropdown-menu {display: block !important;}
.dashboard-stat.blue {
    background-color: #f8b806;
}
.dashboard-stat.red {
    background-color:  #f8b806;
}

.dashboard-stat.green{
    background-color:  #f8b806;
}

.dashboard-stat.purple{
    background-color:  #f8b806;
}
.text-white{
  color:white;
}
.m-5{
  margin:10px;
}
.ml-5{
  margin-left: 50px;
}
.p-5{
  padding:10px;
}
.middle{
  text-align: center;
}
.float-left{
  text-align: right;
}
.back-nav {
  position: fixed;
  z-index: 10103;
  top: 50%;
  left: 10px;
  margin-top: -230px;
  pointer-events: none; }
  .back-nav .back-nav-bg {
    /* this is the stretching navigation background */
    position: absolute;
    z-index: 10102;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px !important;
    background: #36C6D3;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    webkit-transition: height .2s, box-shadow .2s;
    -moz-transition: height .2s, box-shadow .2s;
    -ms-transition: height .2s, box-shadow .2s;
    -o-transition: height .2s, box-shadow .2s;
    transition: height .2s, box-shadow .2s; }
  .back-nav.nav-is-visible {
    pointer-events: auto; }
  .back-nav.nav-is-visible .back-nav-bg {
    height: 100%;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2); }

.back-nav-trigger {
  position: absolute;
  z-index: 10103;
  top: 0;
  left: 10px;
  height: 60px;
  width: 60px;
  border-radius: 50% !important;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  pointer-events: auto; }
  .back-nav-trigger span,
  .back-nav-trigger span::after,
  .back-nav-trigger span::before {
    /* this is the hamburger icon */
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #ffffff; }
  .back-nav-trigger span {
    /* middle line of the hamburger icon */
    webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    left: 50%;
    top: 50%;
    bottom: auto;
    left: auto;
    webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .back-nav-trigger span::after,
  .back-nav-trigger span::before {
    /* top and bottom lines of the hamburger icon */
    content: '';
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s; }
  .back-nav-trigger span::before {
    webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px); }
  .back-nav-trigger span::after {
    webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px); }
  .no-touch .back-nav-trigger:hover ~ .back-nav-bg {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2); }
  .nav-is-visible .back-nav-trigger span {
    background-color: transparent; }
  .nav-is-visible .back-nav-trigger span::before {
    webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .nav-is-visible .back-nav-trigger span::after {
    webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
.back-nav-trigger i{
  font-size: 24px;
  margin-left: 20px;
  margin-top:23px;
}
@media (max-width: 1119px) {
  .back-nav-trigger i{
    font-size: 16px;
    margin-left: 14px;
    margin-top:13px;
  }

  .back-nav {
    position: fixed;
    z-index: 10103;
    top: 50%;
    left: 10px;
    margin-top: -230px;
    pointer-events: none;
  }
  .back-nav-trigger {
    position: absolute;
    z-index: 10103;
    top: 0;
    left: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50% !important;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    pointer-events: auto;
  }
  .back-nav .back-nav-bg {
    /* this is the stretching navigation background */
    position: absolute;
    z-index: 10102;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 30px !important;
    background: #36C6D3;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    webkit-transition: height .2s, box-shadow .2s;
    -moz-transition: height .2s, box-shadow .2s;
    -ms-transition: height .2s, box-shadow .2s;
    -o-transition: height .2s, box-shadow .2s;
    transition: height .2s, box-shadow .2s; }
}
.back-nav-overlay {
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 10101;
  background: transparent; }

.back-nav.nav-is-visible + .back-nav-overlay {
  background: rgba(0, 0, 0, 0.8);
  display: block;
  -webkit-transition: background .7s ease-out;
  -moz-transition: background .7s ease-out;
  -o-transition: background .7s ease-out;
  transition: background .7s ease-out; }

@media (max-width: 991px) {
  /* 991px */
  .back-nav {
    top: 120px;
    margin-top: 0; } }

.back-nav-trigger {
  position: absolute;
  z-index: 10103;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  border-radius: 50% !important;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  pointer-events: auto; }
  .back-nav-trigger span,
  .back-nav-trigger span::after,
  .back-nav-trigger span::before {
    /* this is the hamburger icon */
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #ffffff; }
  .back-nav-trigger span {
    /* middle line of the hamburger icon */
    webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    left: 50%;
    top: 50%;
    bottom: auto;
    left: auto;
    webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .back-nav-trigger span::after,
  .back-nav-trigger span::before {
    /* top and bottom lines of the hamburger icon */
    content: '';
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s; }
  .back-nav-trigger span::before {
    webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px); }
  .back-nav-trigger span::after {
    webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px); }
  .no-touch .back-nav-trigger:hover ~ .back-nav-bg {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2); }
  .nav-is-visible .back-nav-trigger span {
    background-color: transparent; }
  .nav-is-visible .back-nav-trigger span::before {
    webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .nav-is-visible .back-nav-trigger span::after {
    webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
