<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
      
  
        <!-- END THEME PANEL -->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a routerLink="dashboard">Dashboard</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>add Core Catalog</span>
                </li>
            </ul>
        
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->

        <!-- END PAGE TITLE-->

        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                 <form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="addCoreCatProcess()">

                    <div class="form-body row">
                        <div class="col-md-6">

                            <div class="form-group">

                                <label>Wellbore Core Id</label>
                                <!-- <input formControlName="WellboreCore_id"
                                    type="number" class="form-control"
                                    placeholder=""> -->
                                    <select class="custom-select"
                                    formControlName="WellboreCore_id"
                                    name="WellboreCore_id"
                                    class="form-control">
                                    <option *ngFor="let city of
                                        wellboreCoreIds"
                                        [ngValue]="city.WellboreCore_id"
                                        (change)="changeWellboreCoreId($event)">{{city.WellboreCore_id}}-->{{city.WellboreAliasName}}
                                    </option>
                                </select>


                            </div>
                            <div class="form-group">
                                <label>Core Type</label>
                                <!-- <input formControlName="CoreType"
                                    type="number" class="form-control"
                                    placeholder=""> -->

                                 <span class="error">*</span>
                                <select class="form-control" formControlName="CoreType">
                                        <option *ngFor="let role of CoreTypeIds" [ngValue]="CoreTypeIds.CoreType_id"
                                            (change)="changeCoreTypes($event)">{{CoreTypeIds.CoreType_id}}-->{{CoreTypeIds.CoreTypeName}}
                                        </option>
                                        </select>    
                                        <div> <span class="errorName" *ngIf="f.CoreType.touched && f.CoreType.invalid">
                                            Core type category is required</span></div>   
                                  

                            </div>
                            <div class="form-group">
                                <label>Store Identifier</label>
                                <input formControlName="StoreIdentifier"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Catalog Core From Depth</label>
                                <input formControlName="CatalogCoreFromDepth"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Catalog Core From Depth</label>
                                <input
                                    formControlName="CatalogCoreFromDepth"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Catalog Core To Depth</label>
                                <input formControlName="CatalogCoreToDepth"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Core Catalog Security Flag Id</label>
                                <input
                                    formControlName="CoreCatalogSecurityFlag_id"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Was Analysed Id</label>
                                <input
                                    formControlName="WasAnalysed_id"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Top StratLitho Id</label>
                                <input
                                    formControlName="TopStratLitho_id"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>BottomStratLitho_id</label>
                                <input
                                    formControlName="BottomStratLitho_id"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                         

                        </div>
                        <div class="col-md-6">
                                <div class="form-group">
                                        <label>Catalogue Core Picture Name</label>
                                        <input
                                            formControlName="CatalogueCorePictureName"
                                            type="text" class="form-control"
                                            placeholder="">
                                    </div>
                          
                            <div class="form-group">
                                <label>Catalogue Picture Softcopy Path</label>
                                <input
                                    formControlName="CataloguePictureSoftcopyPath"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Catalogue Report Softcopy Path </label>
                                <input
                                    formControlName="CatalogueReportSoftcopyPath"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Catalogue Report Hyperlink</label>
                                <input
                                    formControlName="CatalogueReportHyperlink"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Catalog Report Format Id</label>
                                <input
                                    formControlName="CatalogReportFormat_id"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Catalog Report FileSize</label>  <input
                                    formControlName="CatalogReportFileSize"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Catalog Report Security Grade Id</label>
                                <input
                                    formControlName="CatalogReportSecurityGrade_id"
                                    type="number" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Core Catalog Name</label>
                                <input
                                    formControlName="CoreCatalogName"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Comments</label>
                                <input
                                    formControlName="Comments"
                                    type="text" class="form-control"
                                    placeholder="">
                            </div>
                           
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn blue">Submit</button>
                        <button type="button" class="btn default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>