<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        
        <!-- END THEME PANEL -->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <!-- <li>
                    <a >Home</a>
                    <i class="fa fa-circle"></i>
                </li> -->
                <li>
                    <span>Dashboard</span>
                </li>
            </ul>

        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
      
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <!-- BEGIN DASHBOARD STATS 1-->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a routerLink='users' class="dashboard-stat dashboard-stat-v2 blue"
                   >
                    <div class="visual">
                        <i class="fa fa-comments"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup"
                                >{{users}}</span>
                        </div>
                        <div  routerLink='users' class="desc">Users</div>
                    </div>
                </a>
            </div>
            <div routerLink="view-companies" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a routerLink="view-companies" class="dashboard-stat dashboard-stat-v2 red"
                    >
                    <div class="visual">
                        <i class="fa fa-bar-chart-o"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup"
                               >{{companies}}</span> </div>
                        <div class="desc">Companies</div>
                    </div>
                </a>
            </div>
            <div routerLink="wellbores" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a  routerLink="wellbores" class="dashboard-stat dashboard-stat-v2 green"
                    >
                    <div class="visual">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup"
                                >{{wells}}</span>
                        </div>
                        <div class="desc">Wells </div>
                    </div>
                </a>
            </div>
            <div routerLink="core-catalogs" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a routerLink="core-catalogs" routerLink="core-catalogs" class="dashboard-stat dashboard-stat-v2 green"
                        >
                        <div class="visual">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup"
                                    >{{coreCatalogz}}</span>
                            </div>
                            <div  routerLink="core-catalogs" class="desc">Core Catalog </div>
                        </div>
                    </a>
                </div>
            <!-- <div routerLink="view-strat-litho-unit" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a routerLink="view-strat-litho-unit" class="dashboard-stat dashboard-stat-v2 purple"
                   >
                    <div class="visual">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="details">
                        <div class="number"> 
                            <span data-counter="counterup"
                                data-value="89"></span> 90 </div>
                        <div routerLink="view-strat-litho-unit" class="desc">Lithostratigraphy</div>
                    </div>
                </a>
            </div> -->
        </div>
        <div class="clearfix"></div>


        <div class="row">
                <div class="col-lg-6 col-xs-12 col-sm-12">
                        <div class="portlet light bordered">
                            <div routerLink="view-strat-litho-unit" class="portlet-title tabbable-line">
                                <div class="caption">
                                    <i class="icon-bubbles font-dark hide"></i>
                                    <span  routerLink="view-strat-litho-unit"class="caption-subject font-dark bold uppercase">Lithostratigraphy</span>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab"> Actions </a>
                                    </li>
                                </ul>
                            </div>
                            <div routerLink="view-strat-litho-unit" class="portlet-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="portlet_comments_1">
                                        <!-- BEGIN: Comments -->
                                        <div class="mt-comments">
                                            <div class="mt-comment">
                                              
                                                <div class="mt-comment-body">
                                                    <div class="mt-comment-info">
                                                        <span class="mt-comment-author">Registered</span>
                                                       
                                                        <span class="mt-comment-date">
                                                                
                                                                <div routerLink="view-strat-litho-unit" class="mt-action-buttons ">
                                                                        <div routerLink="view-strat-litho-unit" class="btn-group btn-group-circle">
                                                                            <button type="button" class="btn btn-outline green btn-sm">View</button>
                                                                            <button type="button" class="btn btn-outline black btn-sm">Search</button>
                                                                            <button type="button" class="btn btn-outline green btn-sm">Print</button>
                                                                        </div>
                                                                    </div>
                                                        </span>
                                                    </div>
                                                    <div class="mt-comment-text"> {{lithoz}} Lithostratigraphies </div>
                                                  
                                                   
                                                </div>
                                                
                                            </div>
                                         
                                        </div>
                                        <!-- END: Comments -->
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div routerLink="wellbores" class="col-lg-6 col-xs-12 col-sm-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title tabbable-line">
                                    <div routerLink="wellbores" class="caption">
                                        <i class="icon-bubbles font-dark hide"></i>
                                        <span class="caption-subject font-dark bold uppercase">Wells</span>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a data-toggle="tab"> Actions </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="portlet-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="portlet_comments_1">
                                            <!-- BEGIN: Comments -->
                                            <div class="mt-comments">
                                                <div class="mt-comment">
                                                  
                                                    <div class="mt-comment-body">
                                                        <div routerLink="wellbores" class="mt-comment-info">
                                                            <span class="mt-comment-author">Registered</span>
                                                           
                                                            <span class="mt-comment-date">
                                                                    
                                                                    <div class="mt-action-buttons ">
                                                                            <div routerLink="wellbores" class="btn-group btn-group-circle">
                                                                                <button type="button" class="btn btn-outline green btn-sm">View</button>
                                                                                <button type="button" class="btn btn-outline black btn-sm">Search</button>
                                                                                <button type="button" class="btn btn-outline green btn-sm">Print</button>
                                                                            </div>
                                                                        </div>
                                                            </span>
                                                        </div>
                                                        <div class="mt-comment-text"> {{wells}} Wells </div>
                                                      
                                                       
                                                    </div>
                                                    
                                                </div>
                                             
                                            </div>
                                            <!-- END: Comments -->
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="col-lg-6 col-xs-12 col-sm-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div routerLink="core-catalogs" class="caption">
                                <i class=" icon-social-twitter font-dark hide"></i>
                                <span class="caption-subject font-dark bold uppercase">Core Catalog</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab"> Actions </a>
                                </li>
                              
                            </ul>
                            
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_actions_pending">
                                    <!-- BEGIN: Actions -->
                                    <div class="mt-actions">
                                        <div class="mt-action">
                                            <div routerLink="core-catalogs" class="mt-action-body">
                                                <div class="mt-action-row">
                                                    <div class="mt-action-info ">
                                                        <div class="mt-action-icon ">
                                                            
                                                        </div>
                                                        <div class="mt-action-details ">
                                                            <span class="mt-action-author">Registered</span>
                                                            <p class="mt-action-desc"> {{coreCatalogz}} Core Catalogs</p>
                                                        </div>
                                                    </div>
                                                
                                                    <div class="mt-action-buttons ">
                                                        <div class="btn-group btn-group-circle">
                                                            <button type="button" class="btn btn-outline green btn-sm">View</button>
                                                            <button type="button" class="btn btn-outline black btn-sm">Search</button>
                                                            <button type="button" class="btn btn-outline green btn-sm">Print</button>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!-- END: Actions -->
                                </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 col-sm-12">
                        <div class="portlet light bordered">
                            <div routerLink="wells" class="portlet-title tabbable-line">
                                <div class="caption">
                                    <i class=" icon-social-twitter font-dark hide"></i>
                                    <span class="caption-subject font-dark bold uppercase">Wellbore Cores</span>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab"> Actions </a>
                                    </li>
                                  
                                </ul>
                                
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_actions_pending">
                                        <!-- BEGIN: Actions -->
                                        <div class="mt-actions">
                                            <div class="mt-action">
                                                <div class="mt-action-body">
                                                    <div class="mt-action-row">
                                                        <div class="mt-action-info ">
                                                            <div class="mt-action-icon ">
                                                                
                                                            </div>
                                                            <div class="mt-action-details ">
                                                                <span class="mt-action-author">Registered</span>
                                                                <p class="mt-action-desc"> {{wellborecore}} Wellbore Cores</p>
                                                            </div>
                                                        </div>
                                                    
                                                        <div  class="mt-action-buttons ">
                                                            <div routerLink="wells" class="btn-group btn-group-circle">
                                                                <button type="button" class="btn btn-outline green btn-sm">View</button>
                                                                <button type="button" class="btn btn-outline black btn-sm">Search</button>
                                                                <button type="button" class="btn btn-outline green btn-sm">Print</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <!-- END: Actions -->
                                    </div>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12 col-sm-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption">
                                        <i class=" icon-social-twitter font-dark hide"></i>
                                        <span  routerLink='users' class="caption-subject font-dark bold uppercase">Users</span>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a  data-toggle="tab"> Actions </a>
                                        </li>
                                      
                                    </ul>
                                    
                                </div>
                                <div class="portlet-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_actions_pending">
                                            <!-- BEGIN: Actions -->
                                            <div class="mt-actions">
                                                <div class="mt-action">
                                                    <div class="mt-action-body">
                                                        <div class="mt-action-row">
                                                            <div class="mt-action-info ">
                                                                <div class="mt-action-icon ">
                                                                    
                                                                </div>
                                                                <div routerLink='users' class="mt-action-details ">                             
                                                                    <span class="mt-action-author">Accounts</span>
                                                                    <p class="mt-action-desc"> {{users}} Accounts </p>
                                                                </div>
                                                            </div>
                                                        
                                                            <div class="mt-action-buttons ">
                                                                <div routerLink='users' class="btn-group btn-group-circle">
                                                                    <button type="button" class="btn btn-outline green btn-sm">View</button>
                                                                    <button type="button" class="btn btn-outline black btn-sm">Search</button>
                                                                    <button type="button" class="btn btn-outline green btn-sm">Print</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <!-- END: Actions -->
                                        </div>
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-12">
                                <div class="portlet light bordered">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <i class=" icon-social-twitter font-dark hide"></i>
                                            <span routerLink="view-companies" class="caption-subject font-dark bold uppercase">Companies</span>
                                        </div>
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a data-toggle="tab"> Actions </a>
                                            </li>
                                          
                                        </ul>
                                        
                                    </div>
                                    <div class="portlet-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_actions_pending">
                                                <!-- BEGIN: Actions -->
                                                <div class="mt-actions">
                                                    <div class="mt-action">
                                                        <div class="mt-action-body">
                                                            <div class="mt-action-row">
                                                                <div class="mt-action-info ">
                                                                    <div class="mt-action-icon ">
                                                                        
                                                                    </div>
                                                                    <div class="mt-action-details ">
                                                                        <span class="mt-action-author">Registered</span>
                                                                        <p class="mt-action-desc"> {{companies}} Companies</p>
                                                                    </div>
                                                                </div>
                                                            
                                                                <div class="mt-action-buttons ">
                                                                    <div routerLink="view-companies" class="btn-group btn-group-circle">
                                                                        <button type="button" class="btn btn-outline green btn-sm">View</button>
                                                                        <button type="button" class="btn btn-outline black btn-sm">Search</button>
                                                                        <button type="button" class="btn btn-outline green btn-sm">Print</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                           
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <!-- END: Actions -->
                                            </div>
                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
            </div>

           
              
                <!-- END PORTLET-->
        
    </div>
    <!-- END CONTENT BODY -->
</div>