.icon-home:before {
    color: white;
    content: "\e069";
}
.icon-lock:before {
    color: white;
    content: "\e08e";
}
.icon-user:before {
    color: white;
    content: "\e005";
}
.fa-circle-o:before {
    color: white;
    content: "\f10c";
}
.fa-institution:before, .fa-bank:before, .fa-university:before {
    content: "\f19c";
    color: white;
}
.icon-briefcase:before {
    color: white;
    content: "\e04b";
}
.icon-wallet:before {
    color: white;
    content: "\e02a";
}
.icon-settings:before {
    color: white;
    content: "\e09a";
}
.fa-cubes:before {
    color: white;
    content: "\f1b3";
}
.icon-folder:before {
    color: white;
    content: "\e089";
}
.fa-file-zip-o:before, .fa-file-archive-o:before {
    color: white;
    content: "\f1c6";
}
.fa-share-square-o:before {
    color: white;
    content: "\f045";
}
.fa-gears:before, .fa-cogs:before {
    color: white;
    content: "\f085";
}
.portlet.light.bordered {
    border: 5px solid #f8b806!important;
  }

  .icon-logout:before {
    color: white;
    content: "\e065";
}
.page-sidebar .page-sidebar-menu>li.heading>h3, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.heading>h3 {
    color: white;
}

.page-sidebar .page-sidebar-menu>li:last-child>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:last-child>a {
    position: relative;
    border-bottom: 1px solid transparent!important;
}
.page-footer .page-footer-inner {
    color: #fdfdfd;
    margin-left: 50%;
}
.page-header.navbar .menu-toggler>span, .page-header.navbar .menu-toggler>span:after, .page-header.navbar .menu-toggler>span:before, .page-header.navbar .menu-toggler>span:hover, .page-header.navbar .menu-toggler>span:hover:after, .page-header.navbar .menu-toggler>span:hover:before {
    background: #fafcfb;
}